<span style="float:left;" class="div" data-value="{{ choice.dien_giai }}" data-ma_phi="{{ choice.ma_phi }}"
      data-don_gia="{{ choice.don_gia }}" data-phu_thu="{{ choice.phu_thu }}"
      data-station="{{ choice.station }}"
      data-service_line="{{ choice.service_line }}" data-loai_cv={{ choice.loai_cv }}><strong>{{ choice.dien_giai }}</strong></span> <span
        style="float:right;">  {{ choice.don_gia }}VND &nbsp;&nbsp;&nbsp;&nbsp;({{ choice.service_line }})</span>