{% for field in form %}
    <div class="{% cycle 'ui-block-a ' 'ui-block-b' 'ui-block-c' 'ui-block-d' %} css{{ forloop.counter }}">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
{% endfor %}
<div style="clear:both">
</div>
