{{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
{% load bv_extras %}
<table class="formsettable" cellpadding="0" cellspacing="0">
	{% for form in formset.forms %}
		{% if forloop.first %}
		<thead><tr>
			{% for field in form.visible_fields %}
			<th>{{ field.label|capfirst }}</th>
			{% endfor %}
		</tr></thead>
		{% endif %}
		<tr class=" {% cycle 'row1' 'row2' %} row{{form | to_class_name}} {%if not form.instance.id %}newline{%endif%}" >
			{% for field in form.visible_fields %}
			<td class="css{{forloop.counter}}">
				{# Include the hidden fields in the form #}
				{% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
				{% endif %}
				{{ field.errors.as_ul }}
				{{ field }}
			</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>