{% extends 'jqm/simple.html' %}

{% block jqmscripts %}
<script type="text/javascript">
$('.navbar a').click(function(evt){
	var action=$(this).data('action');
	var form = $(this).data('form');
	$('input#action').val(action);
	switch (action) {
		case 'ghi': case 'xong':
			$('form.'+form).submit();
            return false;
		default:
			break;
	}
});
$('.rowSuperBillForm').bind('selectChoice', function(e, choice, autocomplete) {
	var var1=$(this);
	var var2=$(choice);
	$('input[id$=item_code]', this).val(var2.data('ma_phi'));
	$('input[id$=station]', this).val(var2.data('station'));
	$('input[id$=unit_price]', this).val(var2.data('don_gia'));
    $('input[id$=phu_thu]', this).val(var2.data('phu_thu'));
	$('select[id$=loai_phi]', this).val(var2.data('loai_cv')).change();
	$('select[id$=service_line]', this).val(var2.data('service_line')).change();
});
$('.rowKetQuaLamSangForm').bind('selectChoice', function(e, choice, autocomplete) {
	$('input[id$=ma_benh]', this).val($(choice).data('ma_benh'));
});

$('a.tao_toa_thuoc').click(function(evt){
	$('form.tao_toa_thuoc').submit();
	return false;
});
</script>
{% endblock %}
{% block content %}
<form action="{% url view_name station=station %}" class="tim_kiem_form" method="GET">
	<table style='width:70%; margin:auto'>
		<tr>
			<td>
				{{ form.thong_tin }}
			</td>
			<td style='font-size:80%; width:4em'>
				<input type="submit" name="search" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" value="Tìm">
			</td>
		</tr>
	</table>
</form>
{%if not master%}
{% if object_list %}
<div class="thong_tin_bn">
	<div class="ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
		<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
		{% for o in object_list %}
		<a href="{% url 'bv_lam_sang_update' station=station benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% if not object_list and search%}
<div class="ui-grid-solo">
	<div class="ui-block-a table-header">
		Không tìm thấy bệnh nhân	
	</div>
</div>
{% endif %}
{% if waiting_list %}
<h1>Danh sách bệnh nhân chờ</h1>
<div class="thong_tin_bn">
	<div class="ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
		<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
		{% for o in waiting_list %}
		<a href="{% url 'bv_lam_sang_update' station=station benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
		{% endfor %}
	</div>
</div>
{% else %}
<div class="ui-grid-solo">
	<div class="ui-block-a table-header">
		Hiện không có BN nào trong hàng chờ
	</div>
</div>
{%endif%} <!-- waiting_list -->
{% endif %} <!-- not master -->

{% if master %}
<form action=""  class="lam_sang_form" method="POST">
		<hr/>
		<div class="cuochen" style="margin:auto;">
		
		<table width="900px" cellspacing="0" cellpadding="0" style="; margin:auto; font-size:20px;" >
			<tr>
				<td colspan="3"><h1>Thông tin cuộc hẹn</h1></td>	
			</tr>
			<tr>
				<td style="width:15%">Mã BN</td><!-- Mã BN Họ tên Service Line -->
				<td><strong>{{cuoc_hen.ma_bn}}</strong></td>
				<td>Họ tên: <strong>{{cuoc_hen.ho_ten}} </strong>  ( Khám {{cuoc_hen.get_service_line_display}} ) </td>
			</tr>
			<tr>
				<td >Năm sinh &nbsp;&nbsp;&nbsp;</td>
				<td><strong>{{benh_nhan.ngay_sinh| date:'Y '}}</strong></td>
				<td>Giới tính:  <strong>{{benh_nhan.get_gioi_tinh_display}} </strong> </td> 
			</tr>
			<tr>
				<td colspan="3"> Lý do đến khám :<strong> {{benh_nhan.ghi_chu}}</strong> </td>	
			</tr>
			<tr>
				<td colspan="3"> Nhận bệnh lúc :<strong> {{cuoc_hen.bat_dau| date:'h:i a '}}</strong> </td>	
			</tr>
			<tr>
				<td colspan="3"> Ngày  : <strong>{{cuoc_hen.bat_dau| date:'d/m/Y '}} </strong></td>	
			</tr>
			<!-- <tr>
				<td colspan="3"> Lý do đến khám : <strong>{{cuoc_hen.ghi_chu}} </strong></td>	
			</tr> -->
		</table>
		</div>
	<h1>Kết Luận Lâm Sàng</h1>
	{% with formset=detail3%}
	{% include "bv/formsettable.html" %}
	{% endwith %}
	<hr/>
	<h1>Các Chỉ định Lâm Sàng/ Cận Lâm Sàng </h1>
	{% with formset=detail1%}
	{% include "bv/formsettable.html" %}
	{% endwith %}
	<h1>Toa Thuốc</h1>
	<div class="ui-grid-solo">
		{% for toathuoc in toathuoc_list %}
		<a href="{% url 'bv_toa_thuoc_update' station=station benhnhan_id=benhnhan_id toathuoc_id=toathuoc.pk  %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %}">
				{{ toathuoc }}
			</div>
		</a>
		{% endfor %}
		<a href class="tao_toa_thuoc">
			<div class="ui-block-a ui-bar-a">
				Ghi Toa Thuốc Mới
			</div>
		</a>
	</div>
	<h1>Dị Ứng</h1>
	{% with formset=detail2 %}
	{% include "bv/formsettable.html" %}
	{% endwith %}
	{% if kqxn %}
		<hr/>
		<h1>Kết Quả Xét Nghiệm</h1>
		{{kqxn}}
	{%endif%}
	{% if kqsa %}
		<hr/>
		<h1>Kết Quả Siêu Âm</h1>
		{{kqsa}}
	{% endif %}
	{%if kqxq%}
		<hr/>
		<h1>Kết Quả X-Quang</h1>
		{{kqxq}}
	{% endif %}
	<input type="hidden" id="action" name="action" />
	{% csrf_token %}
</form>
<form action="{% url 'bv_toa_thuoc' station=station benhnhan_id=benhnhan_id %}" method="POST" class="tao_toa_thuoc">
</form>
{% endif %}
{% if cuochen_list %}
<div class="cuochen_list ui-grid-d">
	<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
	<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
	<div class="ui-block-c table-header  ui-bar-b partition">Bắt Đầu</div>
	<div class="ui-block-d table-header  ui-bar-b partition">Kết Thúc</div>
	<div class="ui-block-e table-header  ui-bar-b partition">Service Line</div>
	{% for o in cuochen_list %}
		<a href="{% url 'bv_lam_sang_history' station=station benhnhan_id=benhnhan_id cuochen_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.bat_dau}}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ket_thuc}}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.service_line}}</div>
	{% endfor %}
</div>
{% endif %}
<div id="ajax_error">
</div>
{% endblock %}

{% block navmenu %}
<div data-role="navbar" class="navbar">
	<ul class="ui-grid-b">
		<li class="ui-block-a"><a class="home" href="{% url view_name station=station %}" data-icon="home">Màn Hình Chính</a></li>
		<li class="ui-block-b"><a data-action="in" data-form="lam_sang_form" href data-icon="grid">In Phiếu</a></li>
		<li class="ui-block-c"><a data-action="xong" data-form="lam_sang_form"  href data-icon="check">Chuyển CLS/Xong</a></li>
		<li class="ui-block-d"><a data-action="ghi" data-form="lam_sang_form"  href data-icon="plus">Ghi Thông Tin</a></li>
	</ul>
</div><!-- /navbar -->
{% endblock %}