{% extends 'jqm/simple.html' %}
{% block jqmscripts %}
<script type="text/javascript">
$('.navbar a').click(function(evt){
	var action=$(this).data('action');
	$('input#action').val(action);
	$('input#toathuoc_id').val($(this).data('pk'));
	switch (action) {
		case 'ghi': case 'xong': case 'tao':
			$('form.main_form').submit();
            return false;
		default:
			break;
	}
});
$('.rowXuatThuocForm').bind('selectChoice',function(e, choice, autocomplete) {
	var var2=$(choice);
	$('input[id$=ma_thuoc]', this).val(var2.data('ma_thuoc'));
	$('input[id$=unit_price]', this).val(var2.data('don_gia'));
	$('input[id$=phu_thu]', this).val(var2.data('phu_thu'));
	$('select[id$=service_line]', this).val(var2.data('service_line')).change();
});
</script>
{% endblock %}
{% block content %}
<form action="{% url 'bv_nha_thuoc' %}" class="tim_kiem_form" method="GET">
	<table style='width:70%; margin:auto'>
		<tr>
			<td>
				{{ form.thong_tin }}
			</td>
			<td style='font-size:80%; width:4em'>
				<input type="submit" name="search" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" value="Tìm">
			</td>
		</tr>
	</table>
</form>
	{% if not benhnhan_id %}
	{% if object_list %}
	<div>
	<div class="thong_tin_bn">
		<div class="ui-grid-d">
			<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
			<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
			<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
			<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
			<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
			{% for o in object_list %}
			<a href="{% url 'bv_nha_thuoc_update' benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
			</a>
			<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
			<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
			{% endfor %}
		</div>
	</div>
	</div>
	{% endif %}
	{% if not object_list and is_ajax %}
	<div class="ui-grid-solo">
		<div class="ui-block-a table-header">
			Không tìm thấy bệnh nhân	
		</div>
	</div>
	{% endif %}
	{% if waiting_list %}
	<h1>Danh sách bệnh nhân chờ</h1>
	<div class="thong_tin_bn">
		<div class="ui-grid-d">
			<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
			<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
			<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
			<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
			<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
			{% for o in waiting_list %}
			<a href="{% url 'bv_nha_thuoc_update' benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
			</a>
			<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
			<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<div class="ui-grid-solo">
		<div class="ui-block-a table-header">
			Hiện không có BN nào trong hàng chờ
		</div>
	</div>
	{% endif %} <!-- waiting_list -->
	{% endif %} <!-- benhnhan_id -->
	{% if benhnhan_id %}
		<form action="" class="editfs main_form" method="POST">
		{% for pk,ttf,dtfs,xtfs in inline %}
				{% if ttf %}
			<div class="toathuoc">
				<div class="ui-grid-c" style="margin:auto">
				{% with form=ttf %}
				{% include "bv/formtable.html" %}
				{% endwith %}
				</div>
			</div>
				{% endif %}
				<h1>Đơn Thuốc Bán Hàng</h1>
				{% with formset=xtfs %}
					{% include "bv/formsettable.html" %}
				{% endwith %}
				<h1>Toa Được Chỉ Định</h1>
				{% with formset=dtfs %}
					{% include "bv/formsettable.html" %}
				{% endwith %}
				<div data-role="navbar" class="navbar">
					<ul class="ui-grid-b">
						<li class="ui-block-b">
							<a data-pk="{{pk}}" data-action="in" data-icon="grid"  target="name" onclick="window.open('{% url 'bv_in_xuatthuoc' toathuoc_id=pk %}','name','height=800px,width=800px,toolbar=no,directories=no,status=no,menubar=no,scrollbars=1,resizable=no');
											name.moveTo(10,10);return false;" href="{% url 'bv_in_xuatthuoc' toathuoc_id=pk %}"	> In Đơn
							</a>
						</li>
						<li class="ui-block-c"><a data-pk="{{pk}}" data-action="xong" href data-icon="check">Xong</a></li>
						<li class="ui-block-b"><a data-pk="{{pk}}" data-action="tao" href data-icon="grid">Tạo Đơn</a></li>
						<li class="ui-block-d"><a data-pk="{{pk}}" data-action="ghi" href data-icon="plus">Ghi Thông Tin</a></li>
					</ul>
				</div><!-- /navbar -->
			<hr/>

		{% endfor %}

		{% csrf_token %}
		<input type="hidden" id="action" name="action" />
		<input type="hidden" id="toathuoc_id" name="toathuoc_id" />
		<div class="ui-grid-solo">
			{% if benhnhan_id %}
			<div style='width:70%; margin:auto' class="ui-block-a">
				<button  type="submit" data-theme="b" name="new" value="new">Tạo Toa Thuốc Mới</button>
			</div>
			{%endif%}
		</div>
		</form>

	{% if cuochen_list %}
	<h1>Các cuộc hẹn trước đây</h1>

	<div class="cuochen_list ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Bắt Đầu</div>
		<div class="ui-block-d table-header  ui-bar-b partition">Kết Thúc</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Service Line</div>
		{% for o in cuochen_list %}
		<a href="{% url 'bv_nha_thuoc_history' benhnhan_id=benhnhan_id cuochen_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.bat_dau}}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ket_thuc}}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.service_line}}</div>
		{% endfor %}
	</div>
	{% endif %} <!-- cuochen_list --> 
	{% endif %} <!-- benhnhan_id -->

<div id="ajax_error">
</div>
{% endblock %}

