{% extends 'jqm/simple.html' %}
{% block sitescripts %}
<script type="text/javascript">
$(document).on('pageshow', function(evt){
	$('input#id_thong_tin').focus().select();
});

$( document ).on('ajaxError',function(evt, jqxhr, settings, exception) {
	console.debug(evt,jqxhr, settings, exception);
	$( "#ajax_error" ).html( jqxhr.responseText );
});

$(document).on('click','.navbar a', function(evt){
	var action=$(this).data('action');
	$('input#action').val(action);
	switch (action) {
		case 'ghi': case 'xong':
			$('form.main_form').submit();
			break;
		default:
			break;
	}
});
</script>
{% endblock %}
{% block content %}
<form action="{% url view_name %}" class="tim_kiem_form" method="GET">
	<table style='width:100%'>
		<tr>
			<td>
				{{ form.thong_tin }}
			</td>
			<td style='font-size:80%; width:4em'>
				<button type="submit" name="search" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" value="search">Tìm</button>
			</td>
		</tr>
	</table>
</form>
	{% if object_list %}
	<div>
		<div class="ui-grid-d">
			<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
			<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
			<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
			<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
			<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
			{% for o in object_list %}
			<a href="{% url 'bv_quy_trinh_update' benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
			</a>
			<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
			<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
			{% endfor %}
		</div>
	</div>
	{% elif is_ajax %}
	<div class="ui-grid-solo">
		<div class="ui-block-a table-header">
			Không tìm thấy bệnh nhân	
		</div>
	</div>
	{% endif %}
	{% if master %}
		<form action="" class="main_form" method="POST">
			{{ master }}
			{% with formset=detail %}
				{% include "bv/formsettable.html" %}
			{% endwith %}
		{% csrf_token %}
		<input type="hidden" id="action" name="action" />
		</form>
	{% endif %}
	<hr/>
	{% if cuochen_list %}
	<div class="ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Bắt Đầu</div>
		<div class="ui-block-d table-header  ui-bar-b partition">Kết Thúc</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Service Line</div>
		{% for o in cuochen_list %}
			<a href="{% url 'bv_quy_trinh_history' benhnhan_id=benhnhan_id cuochen_id=o.pk %}">
				<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
					{{o.ma_bn }}
				</div>
			</a>
			<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
			<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.bat_dau}}</div>
			<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ket_thuc}}</div>
			<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.service_line}}</div>
		{% endfor %}
	</div>
	{% endif %}
<div id="ajax_error">
</div>
{% endblock %}

{% block navmenu %}
<div data-role="navbar" class="navbar">
	<ul class="ui-grid-b">
		<li class="ui-block-a"><a class="home" href="{% url view_name %}" data-icon="home">Màn Hình Chính</a></li>
		<li class="ui-block-b"><a data-action="in" href data-icon="grid">In Phiếu</a></li>
		<li class="ui-block-c"><a data-action="xong" href data-icon="check">Xong</a></li>
		<li class="ui-block-d"><a data-action="ghi" href data-icon="plus">Ghi Thông Tin</a></li>
	</ul>
</div><!-- /navbar -->
{% endblock %}
