{% extends 'jqm/simple.html' %}
{% block jqmscripts %}
<script type="text/javascript">
$('.navbar a').click(function(evt){
	var action=$(this).data('action');
	var form = $(this).data('form');
	$('input#action').val(action);
	switch (action) {
		case 'ghi': case 'xong': case 'chinh':
			$('form.'+form).submit();
			return false;
		default:
			break;
	}
});
$('.rowSuperBillForm').bind('selectChoice', function(e, choice, autocomplete) {
	var var2=$(choice);
	$('input[id$=item_code]', this).val(var2.data('ma_phi'));
	$('input[id$=station]', this).val(var2.data('station'));
	$('input[id$=unit_price]', this).val(var2.data('don_gia'));
	$('input[id$=phu_thu]', this).val(var2.data('phu_thu'));
	$('select[id$=loai_phi]', this).val(var2.data('loai_cv')).change();
	$('select[id$=service_line]', this).val(var2.data('service_line')).change();
	
});
</script>
{% endblock %}
{% block content %}


<form action="{% url view_name %}" class="tim_kiem_form" method="GET">
	<table style='width:70%; margin:auto'>
		<tr>
			<td>
				{{ form.thong_tin }}
			</td>
			<td style='font-size:80%; width:4em'>
				<input type="submit" name="search" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" value="Tìm">
			</td>
		</tr>
	</table>
</form>
{% if object_list %}
<div>
	<div class="thong_tin_bn">
	<div class="ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
		<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
		{% for o in object_list %}
		<a href="{% url 'bv_superbill_update' benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
		{% endfor %}
	</div>
</div>
</div>
{% elif is_ajax %}
<div class="ui-grid-solo">
	<div class="ui-block-a table-header">
		Không tìm thấy bệnh nhân	
	</div>
</div>
{% endif %}
{% if master %}
<h1>CÂN ĐỐI: {{ can_doi }}</h1>
<form action=""  class="superbill_form " method="POST">
	<div class="ui-grid-b">
		<div class="ui-block-a">  
			{{ master.ma_bn.errors }}
			<label for="id_ma_bn">Mã BN:</label>
			{{ master.ma_bn }}
		</div>
		<div class="ui-block-b">  
			{{ master.ho_ten.errors }}
			<label for="id_ho_ten">Họ Tên:</label>
			{{ master.ho_ten }}
		</div>
		<div class="ui-block-c">  
			{{ master.bac_sy.errors }}
			<label for="id_bac_sy">Bác Sỹ:</label>
			{{ master.bac_sy }}
		</div>
	</div>
	<div class="ui-grid-b">
		<div class="ui-block-a">  
			{{ master.bat_dau.errors }}
			<label for="id_bat_dau">Bắt Đầu:</label>
			{{ master.bat_dau }}
		</div>
		<div class="ui-block-b">  
			{{ master.tieu_de.errors }}
			<label for="id_tieu_de">Tiêu Đề:</label>
			{{ master.tieu_de }}
		</div>
		<div class="ui-block-c">  
			{{ master.service_line.errors }}
			<label for="id_service_line">Service Line:</label>
			{{ master.service_line }}
		</div>
	</div>
	<div>  
		{{ master.ghi_chu.errors }}
		<label for="id_ghi_chu">Ghi Chú:</label>
		{{ master.ghi_chu }}
	</div>
	<hr/>
	<h1>Các Lần Đã Chi Trả</h1>
	<div class="master3">
		{% with formset=master3 %}
		{% include "bv/formsettable.html" %}
		{% endwith %}
	</div>
	<hr/>
	<h1>Trả Thêm</h1>
	<div class="detail2">
		{% with formset=detail2 %}
		{% include "bv/formsettable.html" %}
		{% endwith %}
	</div>
	<hr/>
	<h1>Các Khoản Phải Chi Trả</h1>
	<div class="detail">
		{% with formset=detail %}
		{% include "bv/formsettable.html" %}
		{% endwith %}
	</div>
	<input type="hidden" id="action" name="action" />
	<input type="hidden" id="hoadon_id" name="hoadon_id" value="{{hoadon_id}}"/>
	{% csrf_token %}
</form>
{% endif %}
{% if cuochen_list %}
<div class="ui-grid-d">
	<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
	<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
	<div class="ui-block-c table-header  ui-bar-b partition">Bắt Đầu</div>
	<div class="ui-block-d table-header  ui-bar-b partition">Kết Thúc</div>
	<div class="ui-block-e table-header  ui-bar-b partition">Service Line</div>
	{% for o in cuochen_list %}
		<a href="{% url 'bv_superbill_history' benhnhan_id=benhnhan_id cuochen_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.bat_dau}}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ket_thuc}}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.service_line}}</div>
	{% endfor %}
</div>
{% endif %}
<div id="ajax_error">
</div>
{% endblock %}

{% block navmenu %}
<div data-role="navbar" class="navbar">
    <ul class="ui-grid-d">
        <li class="ui-block-a"><a data-action="chinh" data-form="superbill_form" href data-icon="home">Tạo HĐ Phụ
            Thu</a></li>
        <li class="ui-block-b"><a href="{% if hoadon_url %}{{ hoadon_url }}{% endif %}" data-action="superbill"
                                  href data-icon="check">Các Hoá Đơn</a></li>
        <li class="ui-block-c"><a data-action="in" data-form="superbill_form" target="name"
                {% if benhnhan_id %} {% if cuochen_id %}
                                  href="{% url 'bv_in_superbill' benhnhan_id=benhnhan_id cuochen_id=cuochen_id %}"
                                  onclick="window.open('{% url 'bv_in_superbill' benhnhan_id=benhnhan_id cuochen_id=cuochen_id %}','name','height=1000px,width=900px,scrollbars=1');"
                {% endif %}{% endif %}
                                  data-icon="grid">In Phiếu</a></li>
        <li class="ui-block-d"><a data-action="xong" data-form="superbill_form" href data-icon="check">Kết Thúc KCB</a>
        </li>
        <li class="ui-block-e"><a data-action="ghi" data-form="superbill_form" href data-icon="plus">Ghi Thông Tin</a>
        </li>
    </ul>
</div><!-- /navbar -->
{% endblock %}

