<html>
<head>
<script src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL }}jqmdj.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#tabs div').hide();
		$('#tabs div:first').show();
		$('#tabs ul li:first').addClass('active');

		$('#tabs ul li a').click(function(){
		$('#tabs ul li').removeClass('active');
		$(this).parent().addClass('active');
		var currentTab = $(this).attr('href');
		$('#tabs div').hide();
		$(currentTab).show();
		return false;
		});
	});
</script>
<style>                
*{margin:0;padding:0;}#tabs{font-size:90%;margin:20px 0;}#tabs ul{float:left;background:#fff;width:500px;padding-top:4px;}#tabs li{margin-left:8px;list-style:none;}* html #tabs li{display:inline;}#tabs li,#tabs li a{float:left;}#tabs ul li.active{border-top:2px #FFFF66 solid;background:#FFFFCC;}#tabs ul li.active a{color:#333333;}#tabs div{background:#FFFFCC;clear:both;padding:15px;min-height:200px;}#tabs div h3{margin-bottom:12px;}#tabs div p{line-height:150%;}#tabs ul li a{text-decoration:none;padding:8px;color:#000;font-weight:bold;}.thumbs{float:left;border:#000 solid 1px;margin-bottom:20px;margin-right:20px;}

</style>
</head>
<body>




<div style="clear:both">
</div>

	


 <div data-role="content">   
<div id="tabs">
   <ul>
     <li><a href="#tab-1">This is Tab 1</a></li>
     <li><a href="#tab-2">Tab Two</a></li>
     <li><a href="#tab-3">Tab Three</a></li>
     <li><a href="#tab-4">Tab Four</a></li>
   </ul>
   <div id="tab-1">
     {% for o in chidinh_list %}

      <strong>{{o}}</strong>
      {% endfor %}
      {% for field in form %}
      <div>
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% endfor %}
   </div>
   <div id="tab-2">
     <h3>Tab 2</h3>
     <p><img src="http://papermashup.com/demos/jquery-gallery/images/t2.png" width="120" height="120" class="thumbs"/> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur enim. Nullam id ligula in nisl tincidunt feugiat. Curabitur eu magna porttitor ligula bibendum rhoncus. Etiam dignissim. Duis lobortis porta risus. Quisque velit metus, dignissim in, rhoncus at, congue quis, mi. Praesent vel lorem. Suspendisse ut dolor at justo tristique dapibus. Morbi erat mi, rutrum a, aliquam nec <br/>
       <a href="http://feeds2.feedburner.com/AshleyFord-Papermashupcom">Subscribe to my feed here</a></p>
   </div>
   <div id="tab-3">
     <h3>Tab 3</h3>
     <p><img src="http://papermashup.com/demos/jquery-gallery/images/t3.png" width="120" height="120" class="thumbs"/> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur enim. Nullam id ligula in nisl tincidunt feugiat. Curabitur eu magna porttitor ligula bibendum rhoncus. Etiam dignissim. Duis lobortis porta risus. Quisque velit metus, dignissim in, rhoncus at, congue quis, mi. Praesent vel lorem. Suspendisse ut dolor at justo tristique dapibus. Morbi erat mi, rutrum a, aliquam nec, mattis semper, leo. Maecenas blandit risus vitae quam. Vivamus ut odio.<br/>
       <a href="http://feeds2.feedburner.com/AshleyFord-Papermashupcom">Subscribe to my feed here</a></p>
   </div>
   <div id="tab-4">
     <h3>Tab 4</h3>
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur enim. Nullam id ligula in nisl tincidunt feugiat. Curabitur eu magna porttitor ligula bibendum rhoncus. Etiam dignissim. Duis lobortis porta risus. Quisque velit metus, dignissim in, rhoncus at, congue quis, mi. Praesent vel lorem. Suspendisse ut dolor at justo tristique dapibus. Morbi erat mi, rutrum a, aliquam nec, mattis semper, leo. Maecenas blandit risus vitae quam. Vivamus ut odio. Pellentesque mollis arcu nec metus.<br/>
       <a href="http://feeds2.feedburner.com/AshleyFord-Papermashupcom">Subscribe to my feed here</a></p>
   </div>
 </div>


</body>
</html>