{% extends 'jqm/simple.html' %}
{% block jqmscripts %}
<script  type="text/javascript">
$('.navbar a').click(function(evt){
	var action=$(this).data('action');
	$('input#hoadon_id').val($(this).data('pk'));
	$('input#action').val(action);
	switch (action) {
		case 'ghi': case 'xong':
		    $('form.hoa_don_form').submit();
		    return false;
		default:
		    break;
	}
});
$('.hd-sum').click(function(){
	var pk = $(this).data('pk');
	$('.hd-'+pk).toggle();
	return false;
});
</script>
{% endblock %}
{% block content %}
<form action="{% url 'bv_thu_ngan' %}" class="tim_kiem_form" method="GET" >
	<table style='width:70%; margin:auto'>	
		<tr>
			<td>
				{{ form.thong_tin }}
			</td>
			<td style='font-size:80%; width:4em'>
				<input type="submit" name="search" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" value="Tìm">
			</td>
		</tr>
	</table>
</form>
{% if not benhnhan_id %}
{% if object_list %}
<div class="thong_tin_bn">
	<div class="ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
		<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
		{% for o in object_list %}
		<a href="{% url 'bv_thu_ngan_update' benhnhan_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
		{% endfor %}
	</div>
</div>
{% endif %} <!-- object_list -->
{% if not object_list and is_ajax %}
<div class="ui-grid-solo">
	<div class="ui-block-a table-header">
		Không tìm thấy bệnh nhân	
	</div>
</div>
{% endif %} <!-- is_ajax -->
{% if waiting_list %}
<div class="thong_tin_bn">
<div class="ui-grid-d ">
	<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
	<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
	<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
	<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
	<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
	{% for o in waiting_list %}
	<a href="{% url 'bv_thu_ngan_update' benhnhan_id=o.pk %}">
		<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
			{{o.ma_bn }} 
		</div>
	</a>
	<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
	<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
	<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
	<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
	{% endfor %}
</div>
</div>
{% else %}
<div class="ui-grid-solo">
	<div class="ui-block-a table-header">
		Hiện không có BN nào trong hàng chờ
	</div>
</div>
{% endif %} <!-- waiting_list -->
{% endif %} <!-- benhnhan_id -->

{% if benhnhan_id %}
{% if hdforms %}
<form action="" class="hoa_don_form" method="POST" >
	<div class="ui-grid-d">
		<div class="ui-block-a table-header  ui-bar-b partition">Mã Số HĐ</div>
		<div class="ui-block-b table-header  ui-bar-b partition">Lúc Ghi</div>
		<div class="ui-block-c table-header  ui-bar-b partition">Cân Đối</div>
		<div class="ui-block-d table-header  ui-bar-b partition">Số Dòng</div>
		<div class="ui-block-e table-header  ui-bar-b partition">Trạng Thái</div>
	</div>

		{% for pk,hd,dongphi,chitra in hdforms %}
		<div class="ui-grid-d">
			<div data-pk="{{pk}}" class="hd-sum ui-block-a  {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{hd.instance.ma_hd}}</div>
			<div data-pk="{{pk}}" class="hd-sum ui-block-b  {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{hd.instance.luc_ghi|date:"d/m/y H:i"}}</div> 
			<div data-pk="{{pk}}" class="hd-sum ui-block-c  {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{hd.instance.tong_so}}</div>
			<div data-pk="{{pk}}" class="hd-sum ui-block-d  {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{hd.instance.so_dong}}</div>
			<div data-pk="{{pk}}" class="hd-sum ui-block-e  {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{hd.instance.get_trang_thai_display}}</div>
		</div>
			<div {%if pk == hoadon_id%}style="display:block;"{%endif%} class="hoa_don hd-{{pk}} {%if hd.instance.trang_thai == "dang_mo"%}dang_mo{%else%}thanh_toan{%endif%}">
				<div class="hoadon">
				<div class="ui-grid-c" style="margin:auto">
					{% with form=hd %}
					{% include "bv/formtable.html" %}
					{% endwith %}
				</div>
				</div>

				<div class="dongphi">
					{% with formset=dongphi %}
					{% include "bv/formsettable.html" %}
					{% endwith %}
				</div>
				<h1>Các lần chi trả</h1>
				{% with formset=chitra %}
				{% include "bv/formsettable.html" %}
				{% endwith %}
                <div data-role="navbar" class="navbar">
                    <ul class="ui-grid-d">
                        <li class="ui-block-a"><a data-pk="{{ pk }}" class="home" href="{% url view_name %}"
                                                  data-icon="home">Màn Hình Chính</a></li>
                        <li class="ui-block-b"><a href="{%if superbill_url%}{{ superbill_url }}{%endif%}" data-action="superbill" href data-icon="check">Super Bill</a></li>
                        <li class="ui-block-c">
                            <a data-pk="{{ pk }}" data-action="in" data-icon="grid" target="name"
                               onclick="window.open('{% url 'bv_in_hoadon' hoadon_id=pk %}','name','height=500px,width=800px,toolbar=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');
                                       name.moveTo(10,10);return false;" href="{% url 'bv_in_hoadon' hoadon_id=pk %}">
                                In phiếu
                            </a>
                        </li>
                        <li class="ui-block-d"><a data-pk="{{ pk }}" data-action="xong" href data-icon="check">Đóng Hoá
                            Đơn</a></li>
                        <li class="ui-block-e"><a data-pk="{{ pk }}" data-action="ghi" href data-icon="plus">Ghi Thông
                            Tin</a></li>

                    </ul>
                </div>
			<hr/>
			</div>
		
		{% endfor %}
	{% csrf_token %}
	<input type="hidden" id="action" name="action" />
	<input type="hidden" id="hoadon_id" name="hoadon_id" />
</form>
{% else %}
<div class="ui-grid-solo">
	<div class="ui-block-a table-header">
		Không tìm thấy hoá đơn nào.
	</div>
</div>
{% endif %} <!-- hdforms -->
{% if cuochen_list %}
<h1>Danh sách các cuộc hẹn</h1>
<div class="cuochen_list ui-grid-d thong_tin_bn">
	<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
	<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
	<div class="ui-block-c table-header  ui-bar-b partition">Bắt Đầu</div>
	<div class="ui-block-d table-header  ui-bar-b partition">Kết Thúc</div>
	<div class="ui-block-e table-header  ui-bar-b partition">Service Line</div>
	{% for o in cuochen_list %}
	<a href="{% url 'bv_thu_ngan_history' benhnhan_id=benhnhan_id cuochen_id=o.pk %}">
		<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
			{{o.ma_bn }}
		</div>
	</a>
	<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
	<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.bat_dau}}</div>
	<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ket_thuc}}</div>
	<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.service_line}}</div>
	{% endfor %}
</div>
{% endif %} <!-- cuochen_list --> 
{% endif %} <!-- benhnhan_ -->
<div id="ajax_error">
</div>
{% endblock %}

