<span style="float:left;" class="div" data-value="{{ choice.dien_giai }}"
      data-ten_thuoc="{{ choice.dien_giai }}" data-ma_thuoc="{{ choice.ma_phi }}" data-don_gia="{{ choice.don_gia }}"
      data-service_line="{{ choice.service_line }}" data-phu_thu="{{ choice.phu_thu }}"><strong>{{ choice.dien_giai }}</strong></span> <span
        style="float:right;">  {{ choice.don_gia }}VND &nbsp;&nbsp;&nbsp;&nbsp;({{ choice.service_line }})</span>