{% extends 'jqm/simple.html' %}
{% block jqmscripts %}
<script type="text/javascript">
$('.navbar a').click(function(evt){
	var action=$(this).data('action');
	var form = $(this).data('form');
	$('input#action').val(action);
	switch (action) {
		case 'ghi': case 'xong':
			$('form.'+form).submit();
            return false;
		default:
			break;
	}
});
$('.rowSuperBillForm').bind('selectChoice', function(e, choice, autocomplete) {
	var var1=$(this);
	var var2=$(choice);
	$('input[id$=item_code]', this).val(var2.data('ma_phi'));
	$('input[id$=station]', this).val(var2.data('station'));
	$('input[id$=unit_price]', this).val(var2.data('don_gia'));
	$('select[id$=loai_phi]', this).val(var2.data('loai_cv')).change();
	$('select[id$=service_line]', this).val(var2.data('service_line')).change();
	
});
</script>
{% endblock %}
{% block content %}
<form class="nhan_benh_form" method="GET" >
	<table style='width:70%; margin:auto'>
		<tr>
			<td>
				{{ form.thong_tin }}
			</td>
			<td style='font-size:80%; width:4em'>
				<button type="submit" name="search" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" value="search">Tìm</button>
			</td>
		</tr>
	</table>
	{% if not master %}
	{% if object_list %}
	<div class="thong_tin_bn">
		<div class="ui-grid-d">
			<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
			<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
			<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
			<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
			<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
			{% for o in object_list %}
			<a href="{% url 'bv_thu_thuat_update'  station=station benhnhan_id=o.pk %}">
				<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
					{{o.ma_bn }}
				</div>
			</a>
			<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
			<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="ui-grid-solo">
		{% if not object_list and search%}
		<div class="ui-block-a table-header">
			Không tìm thấy bệnh nhân	
		</div>
		{% endif %}
	</div>
	{% if waiting_list %}
	<h1>Danh sách bệnh nhân chờ</h1>
	<div class="thong_tin_bn">
		<div class="ui-grid-d">
			<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
			<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
			<div class="ui-block-c table-header  ui-bar-b partition">Ngày Sinh</div>
			<div class="ui-block-d table-header  ui-bar-b partition">BHYT</div>
			<div class="ui-block-e table-header  ui-bar-b partition">Địa Chỉ</div>
			{% for o in waiting_list %}
			<a href="{% url 'bv_thu_thuat_update' station=station benhnhan_id=o.pk %}">
				<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
					{{o.ma_bn }}
				</div>
			</a>
			<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
			<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.ngay_sinh %}{{o.ngay_sinh}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.bhyt %}{{o.bhyt}}{% else %}&nbsp;{%endif%}</div>
			<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{% if o.dia_chi %}{{o.dia_chi}}{% else %}&nbsp;{%endif%}</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<div class="ui-grid-solo">
		<div class="ui-block-a table-header">
			Hiện không có BN nào trong hàng chờ
		</div>
	</div>
	{%endif%} <!-- waiting_list -->
	{% endif %}
</form>
{% if master %}
{% if chi_dinh %}
<h1>Chỉ Định Cận Lâm Sàng</h1>
<div class="ui-grid-a">
	<div class="ui-block-a table-header  ui-bar-b partition">Bảo Hiểm</div>
	<div class="ui-block-b table-header  ui-bar-b partition">Dịch Vụ</div>
	{% for o in chi_dinh %}
	<div class="ui-block-{% cycle 'a' 'b'%} 'ui-bar-c'%} partition">{%if o%}{{o.item_qty}}x{{o.item_description}}({{o.unit_price}}){%else%}&nbsp;{%endif%}</div>
	{% endfor %}
</div>
<hr/>
{% else %}
<h1>Không Có Chỉ Định Cận Lâm Sàng</h1>
<hr/>
{% endif %}
<form class="cuoc_hen_form" method="POST">
		<div class="ui-grid-c" style="margin:auto">
		{% with form=master3 %}
			{% include "bv/formtable.html" %}
		{% endwith %}
		</div>
		<hr/>
		<h1>Thông Tin Cuộc Hẹn</h1>
		<div class="ui-grid-c" style="margin:auto">
		{% with form=master %}
			{% include "bv/formtable.html" %}
		{% endwith %}
		</div>
		<hr/>
		<h1>Kết Quả {{station_label}}</h1>
		{{ master2 }}
	{% csrf_token %}
	<input type="hidden" id="action" name="action" />
	<input type="hidden" id="ketqua_id" name="ketqua_id" value="{{ketqua_id}}" />
</form>
{% endif %}
<hr/>
{% if cuochen_list %}
<h1>Các Cuộc Hẹn Trước Đây</h1>
<div class="cuochen_list ui-grid-d">
	<div class="ui-block-a table-header  ui-bar-b partition">Mã BN</div>
	<div class="ui-block-b table-header  ui-bar-b partition">Họ Tên</div>
	<div class="ui-block-c table-header  ui-bar-b partition">Bắt Đầu</div>
	<div class="ui-block-d table-header  ui-bar-b partition">Kết Thúc</div>
	<div class="ui-block-e table-header  ui-bar-b partition">Service Line</div>
	{% for o in cuochen_list %}
		<a href="{% url 'bv_thu_thuat_history'  station=station benhnhan_id=benhnhan_id cuochen_id=o.pk %}">
			<div class="ui-block-a {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">
				{{o.ma_bn }}
			</div>
		</a>
		<div class="ui-block-b {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ho_ten}}</div>
		<div class="ui-block-c {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.bat_dau}}</div>
		<div class="ui-block-d {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.ket_thuc}}</div>
		<div class="ui-block-e {% cycle 'ui-bar-d' 'ui-bar-c' %} partition">{{o.service_line}}</div>
	{% endfor %}
</div>
{% endif %}
{% endblock content %}

{% block navmenu %}
<div data-role="navbar" class="navbar">
	<ul class="ui-grid-b">
		<li class="ui-block-a"><a class="home" href="{% url view_name station=station %}" data-icon="home">Màn Hình Chính</a></li>
		<li class="ui-block-b"><a data-action="in" data-form="cuoc_hen_form" href data-icon="grid">In Phiếu</a></li>
		<li class="ui-block-c"><a data-action="xong" data-form="cuoc_hen_form" href data-icon="check">Xong</a></li>
		<li class="ui-block-d"><a data-action="ghi" data-form="cuoc_hen_form" href data-icon="plus">Ghi Thông Tin</a></li>
	</ul>
</div><!-- /navbar -->
{% endblock %}