{% extends 'jqm/simple.html' %}
{% block jqmscripts %}
<script type="text/javascript">
	$('.navbar a').click(function(evt){
		var action=$(this).data('action');
		var form = $(this).data('form');
		$('input#action').val(action);
		switch (action) {
			case 'ghi': case 'xong':
				$('form.'+form).submit();
				break;
			default:
				break;
		}
	});
	$('.rowDongToaForm').bind('selectChoice', function(e, choice, autocomplete) {
		$('input[id$=ma_thuoc]', this).val($(choice).data('ma_thuoc'));
	});
</script>
{% endblock %}
{% block content %}
<form action=""  class="toa_thuoc_form" method="POST">
	{% if ttf %}
	<div class="toathuoc">
			<div class="ui-grid-c" style="margin:auto">
				{% with form=ttf %}
				{% include "bv/formtable.html" %}
				{% endwith %}
			</div>
		</div>
	<h1>Toa thuốc</h1>
	{% endif %}
	{% with formset=dtfs%}
	{% include "bv/formsettable.html" %}
	{% endwith %}
	<input type="hidden" id="action" name="action" />
	{% csrf_token %}
</form>

<div id="ajax_error">
</div>
{% endblock %}
{% block navmenu %}
<div data-role="navbar" class="navbar">
	<ul class="ui-grid-b">
		<li class="ui-block-a"><a class="home" href="{{ next_url }}" data-icon="home">Màn Hình Chính</a></li>
		
		<li class="ui-block-b">
			<a data-form="toa_thuoc_form" data-action="in" data-icon="grid"  target="name" onclick="window.open('{% url 'bv_in_toathuoc' toathuoc_id=toathuoc_id %}','name','height=800px,width=800px,toolbar=no,directories=no,status=no,menubar=no,scrollbars=1,resizable=no');
							name.moveTo(10,10);return false;" href="{% url 'bv_in_toathuoc' toathuoc_id=toathuoc_id %}"	> In Toa
			</a>
		</li>

		<li class="ui-block-c"><a data-action="xong" data-form="toa_thuoc_form"  href data-icon="check">Xong</a></li>
		<li class="ui-block-d"><a data-action="ghi" data-form="toa_thuoc_form"  href data-icon="plus">Ghi Thông Tin</a></li>
	</ul>
</div><!-- /navbar -->
{% endblock %}
