{% extends 'jqm/simple.html' %}
{% block content %}
<ul data-role="listview" data-inset="true" style="width:30em; margin-left:auto;
margin-right:auto;">
	{% for station in station_list %}
	<li>
		<a href="{{station.2}}">{{station.1}}</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}