{% extends 'jqm/base.html' %}
{% load i18n %}

{% block jqmheader %}
    <div data-role="header" id="header-bar" data-position="fixed">
        <h1 class="display-title" style="margin-top: 5px; margin-bottom: 5px;" >
                {% block pagetitle %}
                    {% block title %} Xét Nghiệm Đa Khoa An Phú {% endblock %}
                {% endblock %}
                {% block subtitle %}
                {% endblock %}
        </h1>
        <a href="{% url 'int_trang_chu' %}" class="ui-btn-left" data-icon="home">Home</a>
        {% include "jqm/messages.html" %}
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}
        {% endblock content %}
    </div>
{% endblock jqmcontent %}

{% block jqmfooter %}
    <div data-role="footer" data-position="fixed">
{% block navmenu %}
{% endblock %}
    </div>
{% endblock jqmfooter %}
