{% extends 'int/simple.html' %}
{% block sitescripts %}
<script type="text/javascript">
$(document).on('pageshow', function(evt){
	$('input#id_thong_tin').focus().select();
});
$( document ).on('ajaxError',function(evt, jqxhr, settings, exception) {
	console.debug(evt,jqxhr, settings, exception);
	$( "#ajax_error" ).html( jqxhr.responseText );
});

$(document).on('ajaxComplete', function(e, xhr, settings){
    if(xhr.status === 278){
    	window.location.href = xhr.getResponseHeader("Location");
{#    	window.location.href = xhr.getResponseHeader("Location").replace(/\?.*$/, "?next="+window.location.pathname);#}
    }
});
</script>
{%endblock%}
{% block content %}
<ul data-role="listview" data-inset="true" style="width:30em; margin-left:auto;
margin-right:auto;">
	<li>
		<a href="/admin/int/huyethoc" data-ajax="false">Huyết Học</a>
	</li>
	<li>
		<a href="/admin/int/sinhhoa" data-ajax="false">Sinh Hoá</a>
	</li>
	<li>
		<a href="/admin/int/cauhinhhh" data-ajax="false">Cấu Hình Huyết Học</a>
	</li>
	<li>
		<a href="/admin/int/cauhinhsh" data-ajax="false">Cấu Hình Sinh Hoá</a>
	</li>
	<li>
		<a href="/report_builder/report/1/download_xlsx" data-ajax="false">Download Huyết Học Trong 2 Tuần</a>
	</li>
	<li>
		<a href="/report_builder/report/2/download_xlsx" data-ajax="false">Download Sinh Hoá Trong 2 Tuần</a>
	</li>	
</ul>
{% endblock %}