<!DOCTYPE html> 
<html> 
<head> 
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="en-us" http-equiv="Content-Language">
    <title>{% block pagetitle %}Page Title{%endblock%}</title> 
    {% if DEBUG %}
    <script src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}jqmdj.js"></script>
    <script src="{{ STATIC_URL }}jquery.mobile-1.3.2.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.inputmask.numeric.extensions.js"></script>
    {% include 'autocomplete_light/static.html' %}
    <script src="{{ STATIC_URL }}jqmdj.js"></script>
    <script src="{{ STATIC_URL }}jquery.mobile-1.3.2.js"></script>
    {% endif %}
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery.mobile-1.3.2.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}jqmdj.css" />
{% block sitestyle %}   
{% endblock %}
{# whole-page scripts could be at the bottom for speedier loading, but that causes a flash-of-unstyled content #}
<style type="text/css">
    
    .thong_tin_bn .ui-grid-d .ui-block-a{
        width: 12%;
        text-align: center;
    }
    .thong_tin_bn .ui-grid-d .ui-block-b{
        width: 25%;
        text-align: center;
    }
    .thong_tin_bn .ui-grid-d .ui-block-c{
        width: 15%;
        text-align: center;
    }
    .thong_tin_bn .ui-grid-d .ui-block-d{
        width: 12%;
        text-align: center;
    }
    .thong_tin_bn .ui-grid-d .ui-block-e{
        width: 35%;
        text-align: center;
    }
    .cuochen_list.ui-grid-d .ui-block-a{
        width: 10%;
        text-align: center;
    }
    .cuochen_list.ui-grid-d .ui-block-b{
        width: 35%;
        text-align: center;
    }
    .cuochen_list.ui-grid-d .ui-block-c{
        width: 20%;
        text-align: center;
    }
    .cuochen_list.ui-grid-d .ui-block-d{
        width: 20%;
        text-align: center;
    }
    .cuochen_list.ui-grid-d .ui-block-e{
        width: 14%;
        text-align: center;
    }
</style>
</head> 
<body> 
<div data-role="page" id="mainpage" data-transition="none" class="django-jqm-page" {% if request %} data-url="{{request.path}}" {% endif %}>
    {% block jqmheader %}{% endblock %}
    {% block jqmcontent %}{% endblock %}
    {% block jqmfooter %}{% endblock %}
    
    {% block reusablescripts %}
    {% endblock %}
    {% block jqmscripts %}
    {% endblock %}
</div><!-- /page -->

{% block otherpages %}
{% endblock otherpages %}
{% block sitescripts %}
{# block for scripts to be used for all pages on the site #}
{% endblock %}
</body>
</html>
