{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block jqmheader %}
    <div data-role="header">
        <h1 class="display-title">
            {% block pagetitle %}
                {% block title %}{% trans 'ĐA KHOA AN PHÚ' %}{% endblock %}
            {% endblock %}
        </h1>
    </div>
{% endblock jqmheader %}

{% block content %}
<h2 style="text-align:center;">{% trans 'Đăng Nhập' %}</h2> 
<form action="{% url "login" %}" data-ajax="false" method="POST">
    {% include "onsite/formfields.html" %}
    <input type="submit" value="{% trans 'Log In' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

{% block jqmfooter %}
{% endblock jqmfooter %}


