{% extends 'jqm/base.html' %}
{% load i18n %}
{% load bv_extras %}
{% block sitescripts %}
<script type="text/javascript">
$(document).on('pageshow', function(evt){
    $('input#id_thong_tin').focus().select();

});
$( document ).on('ajaxError',function(evt, jqxhr, settings, exception) {
    console.debug(evt,jqxhr, settings, exception);
    $( "#ajax_error" ).html( jqxhr.responseText );
});

$(document).on('ajaxComplete', function(e, xhr, settings){
    if(xhr.status === 278){
        window.location.href = xhr.getResponseHeader("Location");
{#        window.location.href = xhr.getResponseHeader("Location").replace(/\?.*$/, "?next="+window.location.pathname);#}
    }
});
</script>
{%endblock%}
{% block reusablescripts %}
<script>
    $('.navbar a').click(function(evt){
        $('.navbar a').addClass("ui-disabled").delay(2000)
            .queue(function (next) { $(this).removeClass("ui-disabled"); next(); });
    });
    $('ul.errorlist').click('click', function(evt){
        $(this).remove();
    });
    {% if error %}
        $('body').queue('namedQueue', function(){
            $.notifyBar({cssClass: "error", html: "{{error|safe}}" , delay: 4000});
            setTimeout(function(){$('body').dequeue('namedQueue');}, 5000);
            console.debug('error');
        });
    {% endif %}
    {% if message %}
        $('body').queue('namedQueue',function(){
            $.notifyBar({cssClass: "success", html: "{{message|safe}}", delay: 2000 });
            setTimeout(function(){$('body').dequeue('namedQueue');}, 1000);
        });
    {% endif %}
    {% if sticky %}
        $('body').queue('namedQueue',function(){
             $.notifyBar({
                cssClass: "warning sticky",
                html: "{{sticky|safe}}" ,
                delay: 999999999,
                close: true,
                closeOnClick: false,
            });
            setTimeout(function(){$('body').dequeue('namedQueue');}, 5000);
            console.debug('sticky');
        });
    {% endif %}
    $('body').dequeue('namedQueue');
    //*********** JQUERY MASKED INPUT ****************
    // FORM NHAN BENH
    $(".float_format").inputmask("decimal", { autoGroup: true, groupSeparator: ",", groupSize: 3, 'autoUnmask' : true , radixPoint: ".", 'autoUnmask' : true}); // DON GIA CONG VIEC
    $(".rowNhanBenhForm").refreshYearOnly();
    $(".bhyt_format").inputmask("aa | 9 | 99 | 99 | 999 | 99999", {'autoUnmask' : true});
    $("label[for=id_ngay_sinh]").on("click", function(){
        $("#id_nam_sinh").val($(this).hasClass("yearonly")?"False":"True");
        $(".rowNhanBenhForm").refreshYearOnly();
    });
    $(".maskeddate").inputmask("99/99/9999");
</script>

{%endblock%}
{% block jqmheader %}
    <div data-role="header" id="header-bar" data-position="fixed">
        <h1 class="display-title" style="margin-top: 5px; margin-bottom: 5px;" >
                {% block pagetitle %}
                    {% block title %}{{this_station|to_station_label}} Đa Khoa An Phú {% endblock %}
                {% endblock %}
                {% block subtitle %}
                {% endblock %}
        </h1>
        <a href="{% url 'bv_trang_chu' %}" class="ui-btn-left" data-icon="home">Home</a>
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" rel="external" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">Logout</span></a>
        {% endif %}
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}
        {% endblock content %}
    </div>
    <div id="ajax_error">
    </div>
{% endblock jqmcontent %}

{% block jqmfooter %}
    <div data-role="footer" data-position="fixed">
{% block navmenu %}
{% endblock %}
    </div>
{% endblock jqmfooter %}
