{% extends 'onsite/fast.html' %}
{% load i18n %}
{% block morebutton %}
<a href="{% url 'home' %}" class="ui-btn-left" data-icon="back" data-rel="back">{% trans 'Back' %}</a>
{% endblock %}
{% block jqmscripts %}
<script>
	$('.benhly').click(function(evt){
		var pk = $(this).data('id');
		var base = "{% url 'benh_ly_ajax' %}";
		$.ajax({url: base + pk + '/'});
	});
	$('.kqk').click(function(evt){
		// evt.preventDefault();
		// evt.stopPropagation();
		var pk = $(this).data('id');
		var ket_qua = $('#ketquakhac').val();
		var base = "{% url 'benh_ly_ajax' %}";
		$.ajax({url: base + '?phan_loai=' + {{ phan_loai }} + '&ket_qua=' + ket_qua + '&muc_kham=' + pk});
	});

</script>
{% endblock %}
{% block content %}
<h3 style="text-align:center;">{{ title }}</h3>
<!-- <form method="POST" action="{% url 'kham_benh' muc_kham_id=muc_kham_id %}" data-ajax="false"> -->
{% csrf_token %}
<ul data-role="listview" data-inset="true">
	{% for item in object_list %}
	<li>
		<a href="{% url 'kham_benh' muc_kham_id=muc_kham_id %}" class="benhly big" data-id={{ item.pk }}>
		{{ item.get_full_name }}
		</a>
	</li>
	<input type="checkbox" name="{{ item.pk }}" id="{{ item.pk }}" style="display:none">
	{% endfor %}
	{% for mk in muc_kham_list %}
		<li data-role="fieldcontain">
			<table style='width:100%'><tr>
			    <td>
			    	<input type="text" data-clear-btn="true" name="ketquakhac" id="ketquakhac" style="margin:10px;">
			    </td>
			    <td style='font-size:80%; width:4em'>
			    	<a data-role="button" data-id="{{ mk }}" href="{% url 'kham_benh' muc_kham_id=muc_kham_id %}" class="kqk">Khác({{ mk }})</a>
			    </td>
			</tr>
			</table>
		</li>
	{% endfor %}
</ul>
<!-- <input type="hidden" name="stt" id="stt" value={{ stt }}> -->
<!-- </form> -->
{% endblock %}