{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
<h2 style="text-align:center;">Bệnh Nhân</h2>
<p>
	<form action="{{ request.path }}" data-ajax="false" method="POST">
		{% include "onsite/formfields.html" %}
		<input data-icon="search" data-icon-pos="left" type="submit" value="{{ submit|default:'Update'}}" />
	</form>
</p>
<ul data-role="listview" data-inset="true">
	{% for object in object_list %}
		<li>
			<a href="{% url 'benh_nhan' benh_nhan_id=object.pk %}">
				<h3>{{ object.ho_ten }}</h3>
				<p>Giới tính: {{ object.get_gioi_tinh_display }}</p>
				<p>Ngày sinh: {{ object.ngay_sinh }}</p>
			</a>
		</li>

	{% endfor %}
</ul>
{% if request.user.is_staff %}
<a data-theme="a" id="xuat_excel" data-rel="chon" data-inline="false" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" href >Xuất Ra Excel</a>
<script>
	var object_id_list = [];
	{% for object in object_list %}
	object_id_list[object_id_list.length] = {{ object.pk }};		
	{% endfor %}
	$('#xuat_excel').on('click', function(event){
		window.location = {% url 'xuat_excel' %}+'?object_id_list='+JSON.stringify(object_id_list);
	});
</script>
{% endif %}	
{% endblock %}

{% block jqmfooter %}
{% endblock jqmfooter %}