{% extends 'onsite/khambenh_base.html' %}
{% block noidungkham %}
<div class="ui-grid-a">
	<div class="ui-block-a">
		<input type="number" id="cannang" name="cannang" tabindex="2" max="150" min="30" class="ketqua clickable" placeholder="Cân Nặng">
	</div>	
	<div class="ui-block-b">
		<input type="number" id="chieucao" name="chieucao" tabindex="3" max="200" min="130" class="ketqua clickable" placeholder="Chiều Cao">
	</div>
	<div class="ui-block-a" style="text-align:center;">
		<label for="cannang">Cân Nặng (kg)</label>
	</div>	
	<div class="ui-block-b" style="text-align:center;">
		<label for="chieucao">Chiều Cao (cm)</label>
	</div>
	<div class="ui-block-a" style="text-align:center;">
		<a data-role="button" data-corners="true" data-shadow="true" href data-theme="c" id="xoa" class="clickable">Xoá Kết Quả</a>
	</div>	
	<div class="ui-block-b" style="text-align:center;">
		<a data-role="button" data-corners="true" data-shadow="true" href data-theme="b" id="ghi" class="ketqua" class="clickable">Ghi</a>
	</div>
</div>
{% endblock %}
