{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
{% if object_list_now %}
<h2 style="text-align:center;">Các Gói Khám Hôm Nay</h2>
<ul data-role="listview" data-inset="true">
	{% for object in object_list_now %}
		<li>
			<a href="{% url 'chon_goi_kham' goi_kham_id=object.pk %}" data-ajax="false">
				<p>&nbsp;</p>
				<h1 class="ui-li-heading">{{ object }}</h1>
				<p>&nbsp;</p>
			</a>
		</li>

	{% endfor %}
</ul>
{% endif %}

{% if object_list_other %}
<h2 style="text-align:center;">Các Gói Khám Khác</h2>
<ul data-role="listview" data-inset="true">
	{% for object in object_list_other %}
		<li>
			<a href="{% url 'chon_goi_kham' goi_kham_id=object.pk %}" data-ajax="false">
				<p>&nbsp;</p>
				<h1 class="ui-li-heading">{{ object }}</h1>
				<p>&nbsp;</p>
			</a>
		</li>
	{% endfor %}
</ul>
{% endif %}	
{% endblock %}