{% extends 'onsite/v1_0_0b1.html' %}
{% load i18n %}

{% block jqmheader %}
    <div data-role="header" id="header-bar" data-position="fixed">
        <h1 class="display-title" style="margin-top: 5px; margin-bottom: 5px;" >
        <a href = "{% url 'chon_goi_kham_force' %}">

                {% block pagetitle %}{% block title %}{% trans 'ĐA KHOA AN PHÚ' %}
                {% if request.session.muc_kham %}
                    - Khoa {{ request.session.muc_kham.0 }}
                {% endif %}
                {% endblock %}{% endblock %}
                {% block subtitle %}
                    {% if user.is_authenticated %}
                        <h4  style=" font-size: 8pt; margin-top: 0px; margin-bottom: 0px; font-weight: normal;">BS {{ user.last_name }} {{ user.first_name }}</h4>
                    {% endif %}
                {% endblock %}
        </a>
        </h1>
        {% block morebutton %}
        {% endblock %}
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" rel="external" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">Logout</span></a>
        {% endif %}
        {% include "onsite/messages.html" %}
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}Content
        {% endblock content %}
    </div>
    <script>
            var conn = true;
            (function poll(){
                $.ajax({
                    url: "{% url "online" %}",
                    timeout: 10000, // Microseconds
                    error: function(request, status, maybe_an_exception_object) {
                        if (conn) {
                            alert("Internet connection is down!");
                            conn = false;
                        }
                        setTimeout(poll,10000);
                    },
                    success: function(){setTimeout(poll,10000);conn=true;},
                });
            })();
    </script>
{% endblock jqmcontent %}

