{% extends 'onsite/khambenh_base.html' %}
{% block noidungkham %}
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<input  class="clickable"  type="number" id="huyetaptren" name="huyetaptren" tabindex="2" max="200" min="50" placeholder="H.A. Tâm Chương">
		</div>	
		<div class="ui-block-b">
			<input  class="clickable"  type="number" id="huyetapduoi" name="huyetapduoi" tabindex="3" max="200" min="50" placeholder="H.A. Tâm Thu">
		</div>
		<div class="ui-block-a" style="text-align:center;">
			<label for="huyetaptren">Huyết Áp Tâm Chương</label>
		</div>	
		<div class="ui-block-b" style="text-align:center;">
			<label for="huyetapduoi">Huyết Áp Tâm Thu</label>
		</div>
		<div class="ui-block-a">
			<input  class="clickable"  type="number" id="machdap" name="machdap" tabindex="4" max="200" min="50" placeholder="Mạch Đập">
		</div>
		<div class="ui-block-b" style="text-align:left;">
			<label for="machdap"  style="line-height:3em;">&lt;&lt;Mạch Đập</label>
		</div>
		<div class="ui-block-a" style="text-align:center;">
			<a  class="clickable"  data-role="button" data-corners="true" data-shadow="true" href data-theme="c" id="xoa">Xoá Kết Quả</a>
		</div>	
		<div class="ui-block-b" style="text-align:center;">
			<a  class="clickable"  data-role="button" data-corners="true" data-shadow="true" href data-theme="b" id="ghi">Ghi</a>
		</div>
	</div>
{% endblock %}
