{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block jqmscripts %}
<script>
	$(document).on('click', 'a.choice', function(event){
		var pk = $(this).data('id');
		var format = '[data-id=' + pk + ']';
		var checked =  $('input[type=checkbox]' + format).prop("checked");
		$('li' + format).buttonMarkup(
			checked ? {icon: "arrow-r", theme: "c" } : {icon: "check", theme: "b" }
		);	
		$('input[type=checkbox]' + format).prop("checked", !checked).checkboxradio("refresh");
	});

	$(document).on('click', 'a.manual', function(event){
		var pk = $(this).data('id');
		var format = '[data-id=' + pk + ']';
		$("input[name=gia_tri]").val($("input"+format).val());
		if ($("input.phan_loai"+format).length > 0) {
			$("#phan_loai").show();
			$("#gia_tri_text").show();
			$("#gia_tri").hide();
			$("input[name=phan_loai]").val($("input.phan_loai"+format).val());
		} else {
			$("#phan_loai").hide();
			$("#gia_tri_text").hide();
			$("#gia_tri").show();
			$("input[name=phan_loai]").val("");
		}

		$("input[name=object_id]").val(pk);
		$("#data-bar").show();
		$("input[name=gia_tri]").focus().select();
	});

	$(document).on('click','.panelbutton',function(event){
		// var action = event.originalEvent.explicitOriginalTarget.id;
		if ($(this).data('id') == 'nhap') {
			var pk = $('input[name=object_id]').val();
			var value = $('input[name=gia_tri]').val() + $('input[name=gia_tri_text]').val();
			var phan_loai = $('input[name=phan_loai]').val();
			var format = '[data-id=' + pk + ']';
			$("input"+format).val(value);
			$("input.phan_loai"+format).val(phan_loai);
			$('span' + format).text( value );
			$('li' + format).buttonMarkup( 
				"" == value ? {icon: "arrow-r", theme: "c", active: false } : {icon: "check", theme: "b"}
			);
		}
		$("#data-bar").hide();

	});

	$('a#ket_thuc').on('click', function(event){
		$('form').submit();
	});

	$(document).on('expand', '.danh_sach', function(event){
		$.mobile.showPageLoadingMsg ();
		var chi_tiet_cua_id = $(this).data("id");
		$(".detail", this).load({% url 'ket_qua_ajax' %} + chi_tiet_cua_id + '/', function(){
			$.mobile.hidePageLoadingMsg ();
			$('.newcollapsible', $(this)).collapsible();
			$('.newlist', $(this)).listview();
		});
		event.stopImmediatePropagation();
	}).on('collapse', function(event){
	});

</script>
{% endblock jqmscripts %}
{% block content %}
<form action="{{ request.path }}" data-ajax="false" method="POST">
	{% csrf_token %}
	<ul data-role="listview" data-inset="false">
		{% for object in object_list %}
				{% if object.loai_ket_qua == "danh_sach" %}
					{% if object.phan_loai.strip %} <!-- CHOICE -->
			      	<li data-id="{{ object.pk }}" data-filtertext="{{ object.slug }}">
						<a data-id="{{ object.pk }}" class="choice">
							<p class="ui-li-aside ui-li-desc">
								Phân loại: <strong>{{ object.phan_loai }}</strong>
							</p>
							<p>&nbsp;</p>
			                {{ object.ket_qua }}
			                <p>&nbsp;</p>
						</a>
					</li>
					<input type="checkbox" style="display:none;" data-id="{{ object.pk }}" name="{{ object.pk }}" data-type="{{ object.loai_ket_qua }}">
					{% else %} <!-- DANH SACH -->
					<li data-role="collapsible" class="danh_sach" data-id="{{ object.pk }}" data-filtertext="{{ object.slug }}" data-corner="false">
						<h3>
						<p>&nbsp;</p>	
						{{ object.ket_qua }}
						<p>&nbsp;</p>
						</h3>
						<div class="detail"></div>
					</li>
					{% endif %}
				{% else %} <!-- TEXT OR NUMBER INPUT -->
				<li data-id="{{ object.pk }}">
					<a href class="manual" data-id="{{ object.pk }}" >
						<span data-id="{{ object.pk }}" class="ui-li-count" style="font-size:14px; padding:5px;width:100px;height:1em;text-align:right;"></span>
						<p>&nbsp;</p>
						{{ object.ket_qua }}
						<p>&nbsp;</p>
					</a>
					<input type="hidden" data-id="{{ object.pk }}" name="{{ object.pk }}" >
					{% if object.loai_ket_qua == "ky_tu" %}
						<input type="hidden" data-id="{{ object.pk }}" class="phan_loai" name="phan_loai_{{ object.pk }}" >
					{% endif %}
				</li>
				
				{% endif %}
	
        {% endfor %}
	</ul>
</form>

{% endblock %}

{% block navmenu %}
<div data-role="navbar">
	<ul class="ui-grid-b">
		<li class="ui-block-a">
			<a href="{% url 'benh_nhan' %}" data-icon="search">Bệnh nhân {{ request.session.benh_nhan.ho_ten }}</a>
		</li>
		<li class="ui-block-b">
			<a href data-icon="arrow-r" id="ket_thuc">Kết Thúc</a>
		</li>
		<li class="ui-block-c">
			<a href="#" data-icon="refresh">Thu Gọn</a>
		</li>
	</ul>
</div>
<!-- /navbar -->
{% endblock %}