{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block jqmscripts %}
<script>
	$('button[data-id]').on('click', function(event){
		var pk = $(this).data('id');
		var format = '[data-id=' + pk + ']';
		$('div[data-role=popup]#popup_' + pk ).popup('close');
		$('li' + format).removeClass('ui-btn-active');
	});
	$('button[data-id][data-rel=nhap]').on('click', function(event){
		var pk = $(this).data('id');
		var format = '[data-id=' + pk + ']';
		var value = $('input[data-unbound]' + format).val().trim();
		$('span' + format).text( value );
		$('input[name]' + format).val(value);
		$('li' + format).buttonMarkup( 
			"" == value ? {icon: "arrow-r", theme: "c", active: false } : {icon: "check", theme: "b"}
		);
	});
	$('a[data-id]').on('click', function(event){
		var pk = $(this).data('id');
		var format = '[data-id=' + pk + ']';
		var checked =  $('input[type=checkbox]' + format).prop("checked");
		$('li' + format).buttonMarkup(
			checked ? {icon: "arrow-r", theme: "c" } : {icon: "check", theme: "b" }
		);	
		$('input[type=checkbox]' + format).prop("checked", !checked).checkboxradio("refresh");
	});
	$('a#ket_thuc').on('click', function(event){
		$('form').submit();
	});

</script>
{% endblock jqmscripts %}
{% block content %}
<form action="{{ request.path }}" data-ajax="false" method="POST">
	{% csrf_token %}
	<ul data-role="listview" data-inset="true" data-filter="true">
		{% for object in object_list %}
          	{% if object.loai_ket_qua == "danh_sach" %}
		<li data-id="{{ object.pk }}" data-filtertext="{{ object.slug }}">
			<a data-id="{{ object.pk }}">
				{% if object.phan_loai.strip %}
				<p class="ui-li-aside ui-li-desc">
					Phân loại: <strong>{{ object.phan_loai }}</strong>
				</p>
				{% endif %}
                {{ object.get_family_string|safe }}
			</a>
		</li>
		<input type="checkbox" style="display:none;" data-id="{{ object.pk }}" name="{{ object.pk }}" data-type="{{ object.loai_ket_qua }}">
		{{ form.fields.get.}}
          	{% else %}
		<li data-id="{{ object.pk }}">
			<a href="#popup_{{ object.pk }}"  data-rel="popup">
				<span data-id="{{ object.pk }}" class="ui-li-count" style="font-size:14px; padding:5px;width:100px;height:1em;text-align:right;"></span>
				{{ object.get_family_string|safe }}
			</a>
			<input type="hidden" data-id="{{ object.pk }}" name="{{ object.pk }}" >
			<div data-role="popup" id="popup_{{ object.pk }}" data-overlay-theme="a" data-tolerance="0,0" class="ui-content">
				<h3>{{ object.ket_qua }}</h3>
				<input data-unbound data-id="{{ object.pk }}" type="text" style="text-align:right;" data-type="{{ object.loai_ket_qua }}">
				<button data-theme="c" data-rel="huy" data-inline="true" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-id="{{ object.pk }}">Hủy</button>
				<button data-theme="a" data-rel="nhap" data-inline="true" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-id="{{ object.pk }}">Nhập</button>
			</div>
		</li>
		{% endif %}
          {% endfor %}
	</ul>
</form>
{% endblock %}

{% block navmenu %}
<div data-role="navbar">
	<ul class="ui-grid-b">
		<li class="ui-block-a">
			<a href="{% url 'benh_nhan' %}" data-icon="search">Bệnh nhân {{ request.session.benh_nhan.ho_ten }}</a>
		</li>
		<li class="ui-block-b">
			<a href data-icon="arrow-r" id="ket_thuc">Kết Thúc</a>
		</li>
		<li class="ui-block-c">
			<a href="#" data-icon="refresh">Thu Gọn</a>
		</li>
	</ul>
</div>
<!-- /navbar -->
{% endblock %}