{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
<h2 style="text-align:center;">Kết Quả Của Bệnh Nhân {{ request.session.benh_nhan.ho_ten }}</h2>
<div class="ui-bar ui-bar-c jqm-message-bar">
	<ul class="jqm-messages">
		{% for object in object_list %}
			<li>
				{{ object.ket_qua_mau.get_family_string|safe }}
				{% if not object.loai_ket_qua == "danh_sach" %}:&nbsp;{{ object.gia_tri }}
				{% endif %}, phân loại: {{ object.phan_loai }}
			</li>
		{% empty %}
		<li>Không tìm thấy kêt quả nào</li>
		{% endfor %}
	</ul>
</div>
<a data-theme="a" data-rel="chon" data-inline="false" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" href="{% url 'benh_nhan' %}">Chọn Bệnh Nhân Khác</a>
{% if request.user.is_staff %}
	<a data-theme="c" data-rel="huy" data-inline="false" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" href="{% url 'huy_ket_qua' benh_nhan_id=benh_nhan_id muc_kham_id=muc_kham_id %}">Huỷ kết Quả</a>
{% endif %}
<div class="clear-both"></div>

{% endblock %}