{% load i18n %}
<ul data-role="listview" data-inset="true" class="newlist">
	{% for object in object_list %}
		{% if object.phan_loai.strip %}
			{% if object.loai_ket_qua == "danh_sach" %}
	      	<li data-id="{{ object.pk }}" data-filtertext="{{ object.slug }}">
				<a data-id="{{ object.pk }}" class="choice">
					<p class="ui-li-aside ui-li-desc">
						Phân loại: <strong>{{ object.phan_loai }}</strong>
					</p>
					<p>&nbsp;</p>
	                {{ object.ket_qua }}
	                <p>&nbsp;</p>
				</a>
			</li>
			<input type="checkbox" style="display:none;" data-id="{{ object.pk }}" name="{{ object.pk }}" data-type="{{ object.loai_ket_qua }}">
	      	{% else %}
	      	<li data-id="{{ object.pk }}" data-filtertext="{{ object.slug }}">
				<a href="#popup_{{ object.pk }}"  data-rel="popup">
					<span data-id="{{ object.pk }}" class="ui-li-count" style="font-size:14px; padding:5px;width:100px;height:1em;text-align:right;"></span>
					<p>&nbsp;</p>
					{{ object.ket_qua }}
					<p>&nbsp;</p>
				</a>
				<input type="hidden" data-id="{{ object.pk }}" name="{{ object.pk }}" >
			</li>
			<div data-role="popup" id="popup_{{ object.pk }}" data-overlay-theme="a" data-tolerance="0,0" class="ui-content">
					<h3>{{ object.ket_qua }}</h3>
					<input data-unbound data-id="{{ object.pk }}" type="text" style="text-align:right;" data-type="{{ object.loai_ket_qua }}">
					<button data-theme="c" data-rel="huy" data-inline="true" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-id="{{ object.pk }}">Hủy</button>
					<button data-theme="a" data-rel="nhap" data-inline="true" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-id="{{ object.pk }}">Nhập</button>
				</div>
	      	{% endif %}
      	{% else %}
			<li data-role="collapsible" class="newcollapsible danh_sach" data-id="{{ object.pk }}" data-filtertext="{{ object.slug }}">
				<h3><p>&nbsp;</p>
				{{ object.ket_qua }}
				<p>&nbsp;</p></h3>
				<div class="detail"></div>
			</li>
      	{% endif %}
    {% endfor %}
</ul>
