{% extends 'onsite/khambenh_base.html' %}
{% block noidungkham %}
<ul data-role="listview" data-inset="true">
	{% for item in chi_tiet %}
	<li class="clickable">
		<a class="phanloai clickable big" href="{{ item.1 }}">PHÂN LOẠI {{ item.0 }}</a>
	</li>
	{% endfor %}
</ul>
<div class="ui-grid-a">
	<div class="ui-block-a" style="text-align:center;">
		<a data-role="button" data-corners="true" data-shadow="true" href data-theme="c" id="xoa">Xoá Kết Quả<br/>&nbsp;</a>
	</div>	
	<div class="ui-block-b" style="text-align:center;">
		<a data-role="button" data-corners="true" data-shadow="true" href data-theme="b" id="ghi2">Ghi<br/>(Bình Thường = K0 Chọn PL)</a>
	</div>
</div>
{% endblock %}
