{% extends 'onsite/fast.html' %}
{% block jqmscripts %}
<script>
	var success = false;
	var ready = true;
	$(document).on('pageshow', function(evt){
		var oid = $("#stt").val();
		if (oid){
			$.getJSON(base_url+oid+'/', function(data){
				$('#info').html(data['data']);
				success = data['success'];
			});
		}
	});
	$(document).click(function(evt){
		if ( $(evt.target).hasClass('clickable') ){
			evt.stopPropagation();
		} else {
			$('#stt').focus().select();
		}
	});

	$.extend({
	   postJSON: function( url, data, callback) {
	      return jQuery.post(url, data, callback, "json");
	   }
	});
	var base_url = {% url 'benh_nhan_ajax' %};
	var show_loading = function() {
		$.mobile.loading('show', { theme: "e", text: "loading" });
		setTimeout('hide_loading()',500);
		ready = false;
	}
	var hide_loading = function() {
		$.mobile.loading('hide');
		ready = true;
	}
	var update_benhnhan = function(){
		var oid = $("#stt").val();
		if (!oid || !ready) {
			return false;
		}
		show_loading();
		$.getJSON(base_url+oid+'/', function(data){
			$('#info').html(data['data']);
			success = data['success'];
		});
	};
	$('#kiemtra').click(function(evt){
		// update_benhnhan();
	});
	$('#stt').focusout(function(evt){
		update_benhnhan();
	});
	var ghi = function(){
		if (success) {
			$.postJSON( "{{ request.path }}" , $('form').serialize(), function(data){
				$('#info').html(data['data']);
				$('form').trigger("reset");
			});
		}
	};
	var ghi2 = function(){
		if (success) {
			$.getJSON( "{% url 'kham_benh_ajax' action='ghi' %}" , function(data){
				$('#info').html(data['data']);
				$('#stt').val('');
			});
			success = false;
		}
	};
	var xoa = function(){
		$.getJSON( "{% url 'kham_benh_ajax' action='xoa' %}" , function(data){
			$('#info').html(data['data']);
			$('form').trigger("reset");
		});
		success =false;
	};
	$('#xoa').click(function(evt){
		xoa();
	});
	
	$('#ghi').click(function(evt){
		ghi();
	});

	$('#ghi2').click(function(evt){
		ghi2();
	});

	$(document).click(function(evt){
		if ( $(evt.target).prop('tagName') != "INPUT"){			
			$('#stt').focus().select();
		};
	});

</script>
{% endblock %}
{% block content %}
<form>
	{% csrf_token %}
	<div id="info" style="height: 50px;">
	</div>
	<label for="stt">Số thứ tự</label>
	<table style='width:100%'><tr>
	    <td>
			<input type="number" id="stt" data-line="true" name="stt" tabindex="1" max="3700" min="1" placeholder="STT">
	    </td>
	    <td style='font-size:80%; width:4em'>
	         <a href id="kiemtra" data-theme="a" data-inline="true" data-role="button" data-corners="true" data-shadow="true" class="clickable">Kiểm tra</a>
	    </td>
	</tr>
	</table>
	<hr>
	{% block noidungkham %}
	{% endblock %}
</form>
{% endblock %}