{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
<form action="{% url 'ky_ket_qua' %}" data-ajax="false" method="POST">
	{% csrf_token %}
	<h2 style="text-align:center;">Xin Xác Nhận Kêt Quả Bệnh Nhân {{ request.session.benh_nhan.ho_ten }}</h2>
	{% if object_list %}
	<div class="ui-bar ui-bar-c jqm-message-bar">
		<ul class="jqm-messages">
			{% for object in object_list %}
			<li>
				{{ object.ket_qua_mau.get_family_string|safe }}
				{% if not object.loai_ket_qua == "danh_sach" %}:&nbsp;{{ object.gia_tri }}
				{% endif %}, phân loại: {{ object.phan_loai }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<input type="hidden" name="object_id_list" value="{{ object_id_list }}">
	<button type="submit" data-theme="a" data-rel="chon" data-inline="false" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" value="xac_nhan">Ký Và Xác Nhận Kết Quả</button>
	<a data-theme="c" data-rel="huy" data-inline="false" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" href="{% url 'ket_qua' %}" data-ajax="false">Khám Lại</a>
	<div class="clear-both"></div>
	{% endif %}
</form>
{% endblock %}