{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
<h2 style="text-align:center;">Các Mục Khám</h2>
<form action="{{ request.path }}" data-ajax="false" method="POST">
	<ul data-role="listview" data-inset="true">
		{% for object in object_list %}
			<li>
				<a href="{% url 'muc_kham' muc_kham_id=object.pk %}" data-ajax="false">
					<p>&nbsp;</p>
					<h1 class="ui-li-heading">{{ object.ten }}</h1>
					<p>&nbsp;</p>
				</a>
			</li>

		{% endfor %}
	</ul>	
</form>
{% endblock %}