{% extends 'onsite/v1_0_0b1.html' %}
{% load i18n %}

{% block jqmheader %}
    <div data-role="header" id="header-bar" data-position="fixed">
        <h1 class="display-title" style="margin-top: 5px; margin-bottom: 5px;" >
                {% block pagetitle %}{% block title %}{% trans 'ĐA KHOA AN PHÚ' %}
                {% if request.session.muc_kham %}
                    - Khoa {{ request.session.muc_kham.ten }}
                {% endif %}
                {% endblock %}{% endblock %}
                {% block subtitle %}
                    {% if user.is_authenticated %}
                        <h4  style=" font-size: 8pt; margin-top: 0px; margin-bottom: 0px; font-weight: normal;">BS {{ user.last_name }} {{ user.first_name }}</h4>
                    {% endif %}
                {% endblock %}
        </h1>
        <a href="{% url 'muc_kham' %}" class="ui-btn-left" data-icon="home">{% trans 'Home' %}</a>
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" rel="external" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">Logout</span></a>
        {% endif %}
        {% include "onsite/messages.html" %}
    </div>
     <div data-role="header" id="data-bar" data-position="fixed" style="display:none;height:40px;" data-theme="c">
        <!-- <form id="popupform"> -->
            <div class="ui-grid-d">
                <div class="ui-block-a">
                    <div id="phan_loai" >
                        <input name="phan_loai" type="number" style="text-align:right;">
                     </div>
                </div>
                <div class="ui-block-b">
                    <div id="gia_tri">
                    <input id="gia_tri" name="gia_tri" type="number" style="text-align:right;">
                   </div>
                   <div id="gia_tri_text">
                    <input name="gia_tri_text" type="text" style="text-align:right;" style="display:none;"> 
                   </div>    
                </div>
                <div class="ui-block-c">
                    <button data-id="huy" class="panelbutton" type="submit" data-theme="c" data-rel="huy" data-inline="true" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" >Hủy</button>
                </div>
                <div class="ui-block-d">
                    <button data-id="nhap" class="panelbutton" type="submit" data-theme="a" data-rel="nhap" data-inline="true" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" value="Nhập" style="width:99%;">Nhập</button>
                </div>
                <div class="ui-block-e">
                </div>
            </div>
            <input name="object_id" type="hidden"> 
        <!-- </form> -->
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}Content
        {% endblock content %}
    </div>
{% endblock jqmcontent %}

{% block jqmfooter %}
    <div data-role="footer" data-position="fixed">
{% block navmenu %}
    <div data-role="navbar">
        <ul class="ui-grid-b">
            <li class="ui-block-a"><a href="{% url 'benh_nhan' %}" data-icon="search">Bệnh nhân {{ benhnhan.ho_ten }}</a></li>
        </ul>
    </div><!-- /navbar -->
{% endblock %}
    </div>
{% endblock jqmfooter %}
