{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
<ul data-role="listview" data-inset="true">
	<li data-role="collapsible">
		<h3>Header</h3>
		<div data-role="collapsible">
				<h3>Header</h3>
				<p>asgjslgjsld</p>
		</div>
		<ul data-role="listview" data-inset="true">
			<li>
				<a>
					absbsdg
				</a>
			</li>
			<li>
				absbsdg
			</li>
		</ul>
	</li>
	<div data-role="collapsible">
		<h3>Header</h3>
		<p>abcd</p>
	</div>
	<div data-role="collapsible">
		<h3>Header</h3>
		<p>abcd</p>
	</div>
</ul>
{% endblock %}

{% block jqmfooter %}
{% endblock jqmfooter %}