{% extends 'onsite/khambenh_base.html' %}
{% block noidungkham %}
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<input class="clickable" type="number" id="mattrai" name="mattrai" tabindex="2" max="10" min="0" placeholder="Mắt Trái">
		</div>	
		<div class="ui-block-b">
			<input class="clickable" type="number" id="matphai" name="matphai" tabindex="3" max="10" min="0" placeholder="Mắt Phải">
		</div>
		<div class="ui-block-a">
			<input class="clickable" type="number" id="mattraicokinh" name="mattraicokinh" tabindex="4" max="10" min="0" placeholder="TRÁI CÓ KÍNH">
		</div>	
		<div class="ui-block-b">
			<input  class="clickable" type="number" id="matphaicokinh" name="matphaicokinh" tabindex="5" max="10" min="0" placeholder="PHẢI CÓ KÍNH">
		</div>
		<div class="ui-block-a" style="text-align:center;">
			<a  class="clickable" data-role="button" data-corners="true" data-shadow="true" href data-theme="c" id="xoa">Xoá Kết Quả</a>
		</div>	
		<div class="ui-block-b" style="text-align:center;">
			<a  class="clickable" data-role="button" data-corners="true" data-shadow="true" href data-theme="b" id="ghi">Ghi</a>
		</div>
	</div>
{% endblock %}
