<!DOCTYPE html> 
<html> 
<head> 
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="en-us" http-equiv="Content-Language">
    <title>{% block pagetitle %}Page Title{%endblock%}</title> 
    <link rel="stylesheet" href="{{ STATIC_URL }}onsite/jquery.mobile-1.3.2.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}onsite/jqm-django.css" />
{% block sitestyle %}
{% endblock %}
{# whole-page scripts could be at the bottom for speedier loading, but that causes a flash-of-unstyled content #}
    {% if DEBUG %}
    <script src="{{ STATIC_URL }}/onsite/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}/onsite/jquery.mobile-1.3.2.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}/onsite/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}/onsite/jquery.mobile-1.3.2.js"></script>
    {% endif %}
    
</head> 
<body> 

<div data-role="page" id="mainpage" class="django-jqm-page" {% if request %} data-url="{{request.path}}" {% endif %}>
    {% block jqmheader %}{% endblock %}
    {% block jqmcontent %}{% endblock %}
    {% block jqmfooter %}{% endblock %}
    
    {% block jqmscripts %}
        {# block for scripts which are specific to a given "page", note: they will still be loaded in the same page as everything else, they'll just get loaded later #}
    {% endblock %}
</div><!-- /page -->

{% block otherpages %}
{% endblock otherpages %}
{% block sitescripts %}
{# block for scripts to be used for all pages on the site #}
{% endblock %}
</body>
</html>
