label[for=id_ngay_sinh] {
    display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:green;
	color:white;
    line-height:2;
    text-align:center;
    text-decoration:none;
    font-weight:900;
    margin-bottom: -1em;
}
label[for=id_ngay_sinh].yearonly {
    background:blue;
}
.jquery-notify-bar.sticky {
  text-align: left;
  display: block;
  padding: 0px;
}
.jquery-notify-bar.sticky ul {
  display: block;
  margin: 0px;
}
.jquery-notify-bar.sticky .notify-bar-text-wrapper {
  display: block;
  float:left;
}
.notify-bar-close {
  display: block;
  right:0px;
  bottom: 0px;
  float: right;
  font-size:0.7em!important;
}
ul.errorlist
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: left;
  display:block;
  float:right;
  position: absolute;
  z-index: 1000;
}

ul.errorlist li { 
  color: white;
  background-color: red;
  display: inline; 
}

ul.errorlist li:hover
{
  color: red;
  background-color: white;
}

.style1 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.style3 {
    font-size: 16;
    font-weight: bold;
}
.style4 {font-family: Verdana, Arial, Helvetica, sans-serif}

h1{
    font-size: 24px!important;
}
.container
{
    width: 70%; margin:auto;
}
.navbar{
    padding-top: 10px;
}
.wrapper{
    width:90%; 
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;

   
}
.formsetformat .ui-btn-inner .ui-btn-text {
    padding-left: 0px!important;
}
.chitra .ui-btn-inner
{
 /*   min-width:20px!important; */
    max-width: 100px!important;  
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.ui-corner-all {
    border-radius: 0px!important;
}
.ui-btn-corner-all
{
 border-radius: 0px!important;   
}
.ui-btn-inner {  padding: .4em 35px; min-width: .75em; }
.hoa_don.dang_mo {
     border-width: 1px;
     border-color: red;
     border-style: solid;
     margin-bottom: 10px;
}
.hoa_don.thanh_toan {
     border-width: 10px;
     border-color: green;
     border-style: solid;
     margin-bottom: 10px;
}
.hoa_don {
    display: none;
}
.formsettable {
    margin: auto;
}
.formsettable textarea.ui-input-text {
    height: 35px;
    }
.formsettable .newline{
    background: repeat scroll 0 0 #BBBBBB;
}
.formsettable .ui-corner-all {
    border-radius: 0px!important;
}

.formsettable .ui-input-text{
    padding: 3px!important;
}
.formsettable .ui-btn-inner {
    padding: 5px!important;
}
.formsettable .ui-btn-inner {
    padding-right: 3em!important;
    padding-left: 2em!important;
}
.formsettable .ui-icon {
    right: 10px!important;
}
/*------------------*/
.editfs .formsettable .ui-input-text{
    padding: 2px!important;
}
.editfs .formsettable .ui-btn-inner {
    padding: 1px!important;
}
.editfs .formsettable .ui-btn-inner {
    padding-right: 2em!important;
    padding-left: 0.5em!important;
}

.editfs .formsettable .ui-icon {
    right: 10px!important;
}
/*--------------------*/

.ui-page {
    -webkit-backface-visibility: hidden;
}
.table-header {
    text-align: center;
    font-weight: bold;
}

.partition {
    border-right: 1px solid;
}
.tao-moi {
    text-align: center;
    font-weight: bold;
    width: 100%!important;
    border: 1px solid;

}
#header button{height:50px;width:200px;}

.big{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.ui-collapsible-heading-toggle {
    border-width: 0px;
}
li.danh_sach {
    padding: 0px ! important;
}
.clear-both {
    clear: both;
}

.jqm-messages {
    list-style-type: none;
}
.jqm-messages .info, .jqm-messages .success {
    color: black;
    font-weight: normal;
}
.jqm-messages .warn {
    color: blue;
}
.jqm-messages .error {
    color: red;
}

.required label {
    font-weight: bold;
}
.help-trigger {
    vertical-align: baseline;
}
.field-wrapper {
    padding-top: .25em;
    padding-bottom: .25em;
}

/* collapse the logout button at smaller sizes */
@media (max-width:400px) {
    .logout-wide {
        display: none;
    }
}


/*
* Notify Bar - jQuery plugin
*
* Copyright (c) 2009-2013 Dmitri Smirnov
*
* Licensed under the MIT license:
* http://www.opensource.org/licenses/mit-license.php
*
* Version: 1.4
*
* Project home:
* http://www.whoop.ee/posts/2013-04-05-the-resurrection-of-jquery-notify-bar/
*/

/* Default bars' style */
.jquery-notify-bar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:32768;
  background-color:#efefef;
  font-size:18px;
  color:#000;
  text-align:center;
  font-family: Arial, Verdana, sans-serif;
  padding:20px 0px;
  cursor: pointer;
  border-bottom:1px solid #ddd;
  -webkit-box-shadow: inset 0 -1px 0 0 #fff;
     -moz-box-shadow: inset 0 -1px 0 0 #fff;
          box-shadow: inset 0 -1px 0 0 #fff;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.jquery-notify-bar.bottom {
  bottom:0;
  top:auto;
  border-top:1px solid #ddd;
  border-bottom:0;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
     -moz-box-shadow: inset 0 1px 0 0 #fff;
          box-shadow: inset 0 1px 0 0 #fff;
}
.jquery-notify-bar.top {}

/* Style for errors */
.jquery-notify-bar.error {
  color:#f00;
  background-color:#fdd;
}
.jquery-notify-bar.error .notify-bar-text-wrapper {
  background: transparent url("cross.png") no-repeat center left;
  padding-left:20px;
}

/* Style for warning */
.jquery-notify-bar.warning {
  color:#000;
  background-color:#fffaaa;
}
.jquery-notify-bar.warning .notify-bar-text-wrapper {
  background: transparent url("error.png") no-repeat center left;
  padding-left:20px;
}

/* Style for success (notice) */
.jquery-notify-bar.success {
  color:#060;
  background-color:#BBFFB6;
}
.jquery-notify-bar.success .notify-bar-text-wrapper {
  background: transparent url("tick.png") no-repeat center left;
  padding-left:20px;
}

/* Style for close button */
.notify-bar-close {
  position:absolute;
  left:95%;
  font-size:11px;
}
/*custom formtable*/

.css8 textarea.ui-input-text{
 height: 40px;
}
select option{
  font-size: 16px;
  text-align: center;

}
.cuoc_hen_form label, .hoadon label{
  font-weight: bold;
}
/*end formtable*/
/*.hoa_don_form .ui-checkbox{
  width: 150px;
}*/
.hoadon{
  margin: auto;
}
.hoa_don_form .hoadon .ui-block-a, .hoa_don_form .hoadon .ui-block-b, .hoa_don_form .hoadon .ui-block-c, .hoa_don_form .hoadon .ui-block-d
{
  width: 24%;
  margin-left: 2px;
}
.dongphi select option, .toathuoc select option{
  font-size: 16px;
  text-align: center;
}
.dongphi .ui-input-text{
  width: 100px;
}
.dongphi .css3 .ui-input-text{
  width: 380px;
}
.dongphi .ui-select{
  width: 150px;
}

.dongphi .ui-btn-inner
{
   width: 100px;
}
.dongphi .ui-btn-text{
  width: 100px;
}
.dongphi .css8 .ui-select, .dongphi .css6 .ui-select
{
  width: 120px;
}
.dongphi .css8 .ui-btn-inner, .dongphi .css6 .ui-btn-inner
{
  width: 40px;
}
.dongphi .css8 .ui-btn-text, .dongphi .css6 .ui-btn-text
{
  width: 45px;
}
.toathuoc .ui-checkbox
{
  margin-top:30px;
}
.toathuoc  textarea.ui-input-text{
  height: 45px;
   width: 700px;
}
/*.toathuoc .css7 textarea.ui-input-text{
  width: 740px;
}*/
.right_align{
  text-align: right!important;
}