
.style1 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.style3 {
    font-size: 16;
    font-weight: bold;
}
.style4 {font-family: Verdana, Arial, Helvetica, sans-serif}

h1{
    font-size: 24px!important;
}
.container
{
    width: 70%; margin:auto;
}
.navbar{
    padding-top: 10px;
}
.wrapper{
    width:90%; 
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;

   
}
.chitra .ui-btn-inner
{
 /*   min-width:20px!important; */
    max-width: 100px!important;  
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.ui-corner-all {
    border-radius: 0px!important;
}
.ui-btn-corner-all
{
 border-radius: 0px!important;   
}
.ui-btn-inner {  padding: .4em 35px; min-width: .75em; }
.hoa_don.dang_mo {
     border-width: 1px;
     border-color: red;
     border-style: solid;
     margin-bottom: 10px;
}
.hoa_don.thanh_toan {
     border-width: 10px;
     border-color: green;
     border-style: solid;
     margin-bottom: 10px;
}
.hoa_don {
    display: none;
}
.formsettable {
    margin: auto;
}
.formsettable textarea.ui-input-text {
    height: 35px;
    }
.formsettable .newline{
    background: repeat scroll 0 0 #BBBBBB;
}
.formsettable .ui-corner-all {
    border-radius: 0px!important;
}

.formsettable .ui-input-text{
    padding: 3px!important;
}
.formsettable .ui-btn-inner {
    padding: 5px!important;
}
.formsettable .ui-btn-inner {
    padding-right: 3em!important;
    padding-left: 2em!important;
}
.formsettable .ui-icon {
    right: 10px!important;
}
/*------------------*/
.editfs .formsettable .ui-input-text{
    padding: 2px!important;
}
.editfs .formsettable .ui-btn-inner {
    padding: 1px!important;
}
.editfs .formsettable .ui-btn-inner {
    padding-right: 2em!important;
    padding-left: 0.5em!important;
   /* max-width: 400px!important;*/
}

.dongphi .ui-btn-inner
{
    min-width: 20px!important; 
    max-width: 20px!important;  
}
.editfs .formsettable .ui-icon {
    right: 10px!important;
}
/*--------------------*/

.ui-page {
    -webkit-backface-visibility: hidden;
}
.table-header {
    text-align: center;
    font-weight: bold;
}

.partition {
    border-right: 1px solid;
}
.tao-moi {
    text-align: center;
    font-weight: bold;
    width: 100%!important;
    border: 1px solid;

}
#header button{height:50px;width:200px;}

.big{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.ui-collapsible-heading-toggle {
    border-width: 0px;
}
li.danh_sach {
    padding: 0px ! important;
}
.clear-both {
    clear: both;
}

.jqm-messages {
    list-style-type: none;
}
.jqm-messages .info, .jqm-messages .success {
    color: black;
    font-weight: normal;
}
.jqm-messages .warn {
    color: blue;
}
.jqm-messages .error {
    color: red;
}

.required label {
    font-weight: bold;
}
.help-trigger {
    vertical-align: baseline;
}
.field-wrapper {
    padding-top: .25em;
    padding-bottom: .25em;
}
.errorlist {
    list-style-type: none;
    color: #700000;
    margin-top: 0;
}

/* collapse the logout button at smaller sizes */
@media (max-width:400px) {
    .logout-wide {
        display: none;
    }
}