{% extends "books/base.html" %}
{% load i18n %}

{% block app.scripts %}
<script src="{{ MEDIA_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ bookimages_formset.prefix }}').formset({
        prefix: '{{ bookimages_formset.prefix }}',
    })
    $('.form-row.inline.{{ bookpage_formset.prefix }}').formset({
        prefix: '{{ bookpage_formset.prefix }}',
    })
})
</script>
{% endblock %}

{% block content %}
<h1>Add Book</h1>
<form action="." method="post">
<div class="form-row">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
    </div>
<fieldset class="formset">
<legend>Book images</legend>
        {{ bookimages_formset.management_form }}
        {% for form in bookimages_formset %}
        {{ form.id }}
        <div class="form-row inline {{ bookimages_formset.prefix }}">
            {{ form.link.label_tag }}
            {{ form.link }}
            {{ form.link.errors }}
        </div>
        {% endfor %}
    </fieldset>
<fieldset class="formset">
<legend>Book page</legend>
        {{ bookpage_formset.management_form }}
        {% for form in bookpage_formset %}
        {{ form.id }}
        <div class="form-row inline {{ bookpage_formset.prefix }}">
            {{ form.page.label_tag }}
            {{ form.page }}
            {{ form.page.errors }}
        </div>
        {% endfor %}
    </fieldset>
<div class="submit-row">
        {% csrf_token %}
        <input type="submit" value="Add book" class="submit" />
</div>
</form>
{% endblock %}