{% load humanize %}
{% load bv_extras %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bảng Kê Chi Phí</title>
<style type="text/css">

body,td,th {
	font-size: 15px;
}
.bortd{
	border-right :#000000 1px solid;
	border-bottom :#000000 1px solid;
	
}
 html {
    overflow: -moz-scrollbars-vertical;
}
</style></head>

<body style="margin-top:0px;">
<table width="800" cellpadding="0" style="margin:auto; margin-top:0px;">
  <tr>
    <td width="399">&nbsp;</td>
    <td width="293" rowspan="3"><div align="center">
    <strong>
    Mẫu số: 01/BV<br />
	Số khám bệnh:<br />
	Mã số người bệnh: {{benhnhan.ma_bn}}</strong></div></td>
  </tr>
  <tr>
    <td>Sở Y Tế Thành Phố Hồ Chí Minh
</td>
  </tr>
  <tr>
    <td>PKĐK Quốc Tế An Phú</td>
  </tr>

  <tr>
    <td colspan="2"><div align="center"><strong style="font-size:22px;">BẢNG KÊ CHI PHÍ KHÁM BỆNH, CHỮA BỆNH NGOẠI TRÚ</strong></div></td>
  </tr>
  </table>
  <table width="800" cellpadding="0" style="margin:auto; margin-top:0px;">
   <tr>
    <td colspan="2">
        <strong>I. Hành chính:</strong>
     <div>
       <p><span style = "width:400px; margin-right:100px;">(1) Họ tên người bệnh:<span style="font-size:20px;"><strong> {{benhnhan.ho_ten}}</strong></span></span> Năm sinh: {{benhnhan.ngay_sinh|date:'Y'}}        Giới tính: {{benhnhan.get_gioi_tinh_display}} </p>
       <div>(2) Địa chỉ:   {{benhnhan.dia_chi}}</div>
       <table border="0" cellpadding="0" cellspacing="0">
         <tbody>
           <tr>
             <td valign="top" width="300"><div>(3) Có BHYT {{isBHYT}} Mã thẻ BHYT:</div></td>
             {% if benhnhan.bhyt %} 
                  {% for o in ma_bhyt %} 
                  <td align="center" style="border:1px #000000 solid" width="5"  height="25">
                  <strong> &nbsp;{{o}}&nbsp;</strong>
                  </td>
                  {% endfor %} 
              {% else %} 
                 {% for i in '111111' %}
                  <td align="center" style="border:1px #000000 solid" width="5"  height="25">
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                  </td>
                 {% endfor %}

             {% endif %}
             
             <td  valign="top" width="400"><div style="margin-left:10px;"> Giá trị từ {{benhnhan.bhyt_start|date:'d/m/Y'}} đến {{benhnhan.bhyt_expire|date:'d/m/Y'}} </div></td>
           </tr>
         </tbody>
       </table>
       
       <div>(4) Không có BHYT {{isnotBHYT}}</div>
       <div>(5) Cơ sở đăng ký KCB BHYT ban đầu: {{benhnhan.noi_dk}} </div>
       <table border="0" cellpadding="0" cellspacing="0">
         <tbody>
           <tr>
             <td valign="top" width="450"><div>(6) Mã số của cơ sở đăng ký KCB BHYT ban đầu</div></td>
             <td valign="top"><div style="padding:5px; border:1px #000000 solid">     {{benhnhan.ma_kcb}}</div>
             </td>
           </tr>
         </tbody>
       </table>
       <div>(7) Đến khám: {{cuochen.bat_dau|date:'H'}}h{{cuochen.bat_dau|date:'i'}} ngày {{cuochen.bat_dau|date:'d/m/Y'}}</div>  
       <div>(8) Kết thúc đợt điều trị ngoại trú {{cuochen.bat_dau|date:'d/m/Y'}}. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tổng số ngày điều trị:&nbsp; 1  &nbsp;</div>
       <div>(9) Cấp cứu □      Đúng tuyến  {{isdungtuyen}}   Nơi chuyển đến:……………………………….. (10) Trái tuyến  {{istraituyen}}     </div>
       <table border="0" cellpadding="0" cellspacing="0">
         <tbody>
           <tr>
             <td colspan="2" valign="top" width="523">(11) Chẩn đoán: <div style="padding: 10px;">{{benhly}} </div></td>
             
           </tr>
           <tr>
            <td valign="top" width="400">(12) Mã bệnh (ICD-10)
            <td  width="100"><div style="min-height:4 0px;width:90px;padding:5px; border:1px #000000 solid ; ">{{mabenh}}<br/>
            </div></td>
           </tr>  
         </tbody>
       </table>
       <div><strong>II. Chi phí khám, chữa bệnh:</strong></div>
       <table border="1" cellpadding="0" cellspacing="0" style="border:2.5px #000000 solid; margin-bottom:0px;">
         <tbody>
           <tr>
             <td class ="bortd" rowspan="2" width="250"><div align="center"><strong>Nội dung</strong></div></td>
             <td class ="bortd" rowspan="2" width="60"><div align="center"><strong>Đơn vị tính</strong></div></td>
             <td class ="bortd" rowspan="2" width="60"><div align="center"><strong>Số lượng</strong></div></td>
             <td class ="bortd" rowspan="2" width="60"><div align="center"><strong>Đơn giá</strong>(đồng)</div></td>
             <td class ="bortd" rowspan="2" width="60"><div align="center"><strong>Thành tiền</strong>(đồng)</div></td>
             <td style="border-bottom:#000000 1px solid" colspan="3"><div align="center"><strong>Nguồn thanh toán </strong>(đồng)</div></td>
           </tr>
           <tr>
             <td style="border:#000000 1px solid" width="100"><div align="center"><strong>Quỹ BHYT</strong> (đồng)</div></td>
             <td style="border:#000000 1px solid" width="65"><div align="center"><strong>Khác</strong>(đồng)</div></td>
             <td style="border:#000000 1px solid" width="60"><div align="center"><strong>Người bệnh</strong>(đồng)</div></td>
           </tr>
           <tr>
             <td width="250" height="34" valign="middle"><div align="center">(1)</div></td>
             <td valign="middle" width="60"><div align="center">(2)</div></td>
             <td valign="middle" width="60"><div align="center">(3)</div></td>
             <td valign="middle" width="60"><div align="center">(4)</div></td>
             <td valign="middle" width="60"><div align="center">(5)</div></td>
             <td valign="middle" width="60"><div align="center">(6)</div></td>
             <td valign="middle" width="65"><div align="center">(7)</div></td>
             <td valign="middle" width="76"><div align="center">(8) = (5) -(6)-(7)</div></td>
           </tr>
           {%if not khambenh%} 
           {% else %}
           <tr>
             <td height="20" colspan="8" valign="top"><div>1. Khám bệnh:</div></td>
           </tr>
           {% for o in khambenh %}
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 1</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongkhambenh|floatformat|intcomma}}<br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><div><strong>{{tongquykhambenh|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtrakhambenh|floatformat|intcomma}}<br />
             </div></strong></td>
             
           </tr>
           {% endif %}

          <!--  <tr>
             <td height="20" colspan="8" valign="top"><div>2. Ngày điều trị ngoại trú</div></td>
           </tr>
           <tr>
             <td width="250" height="20" valign="top"><div>-</div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr>
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 2</div></strong></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr> -->
           {%if not xetnghiem%} 
           {% else %}
           <tr>
             <td height="20" colspan="8" valign="top"><div>3. Xét nghiệm:</div></td>
           </tr>
           {% for o in xetnghiem %}
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
           
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 3</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongxetnghiem|floatformat|intcomma}}<br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongquyxetnghiem|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtraxetnghiem|floatformat|intcomma}}<br />
             </div></strong></td>
           </tr>
           {% endif %}
           {%if not hinhanh%} 
           {% else %}
           <tr>
             <td height="20" colspan="8" valign="top"><div>4. Chẩn đoán hình ảnh:</div></td>
           </tr>

           {% for o in hinhanh %}
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 4</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tonghinhanh|floatformat|intcomma}}
             <br /></strong>
             </div></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongquyhinhanh|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtrahinhanh|floatformat|intcomma}}<br />
             </div></strong></td>
           </tr>
           {% endif %}
          {%if not thamdo%} 
           {% else %}
           <tr>
             <td height="20" colspan="8" valign="top"><div>5. Thăm dò chức năng</div></td>
           </tr>
          

           {% for o in thamdo %} 
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
          
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 5</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongthamdo|floatformat|intcomma}}
             <br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongquythamdo|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtrathamdo|floatformat|intcomma}}<br /></strong>
             </div></td>
           </tr>
            {% endif %}
            {%if not thuthuat%} 
           {% else %}
           <tr>
             <td height="20" colspan="8" valign="top"><div>6. Thủ thuật, phẫu thuật</div></td>
           </tr>
           {% for o in thuthuat %}
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 6</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongthuthuat|floatformat|intcomma}}<br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongquythuthuat|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtrathuthuat|floatformat|intcomma}}<br />
             </div></strong></td>
           </tr>
           {% endif %}
           {%if not kythuat%} 
           {% else %}
            <tr>
             <td height="20" colspan="8" valign="top"><div>7. Dịch vụ kỹ thuật cao chi phí lớn</div></td>
           </tr>
           {% for o in kythuat %}
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 7</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongkythuat|floatformat|intcomma}}
             <br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongquykythuat|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtrakythuat|floatformat|intcomma}}<br />
             </div></strong></td>
           </tr>
           {% endif %}

           <!-- <tr>
             <td height="20" colspan="8" valign="top"><div>8. Máu và chế phẩm máu</div></td>
           </tr>
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 8</div></strong></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr> -->
           {%if thuoc_bh or thuoc_dv%} 
           <tr>
             <td height="20" colspan="8" valign="top"><div>9. Thuốc và dịch truyền</div></td>
           </tr>
           <tr>
             <td height="20" colspan="8" valign="top"><div>9.1 Trong danh mục BHYT</div></td>
           </tr> 
           {% for o in thuoc_bh %}
           <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
          
           <tr>
             <td height="20" colspan="8" valign="top"><div>9.2 Ngoài danh mục BHYT</div></td>
           </tr> 
           {% for o in thuoc_dv %}
          <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
          
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 9</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongtienthuoc|floatformat|intcomma}}<br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongquythuoc|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtrathuoc|floatformat|intcomma}}<br />
             </div></strong></td>
           </tr>
           {% endif %}
          <!--  <tr>
             <td height="20" colspan="8" valign="top"><div>10. Vật tư y tế</div></td>
           </tr>
           <tr>
             <td height="20" colspan="8" valign="top"><div>10.1 Trong danh mục BHYT</div></td>
           </tr>
           <tr>
             <td height="20" colspan="8" valign="top"><div>10.2 Ngoài danh mục BHYT</div></td>
           </tr>
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 10</div></strong></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr> -->

          {%if not chiphikhac %} 
           {% else %}
           <tr>
             <td height="20" colspan="8" valign="top"><div>11. Vận chuyển</div></td>
           </tr>
             {% for o in phichikhac %}
          <tr>
             <td width="250" height="20" valign="top"><div>{{o.item_description}}</div></td>
             <td align="center" valign="top" width="60"><div>{{o.get_item_unit_display}}<br />
             </div></td>
             <td align="center" valign="top" width="60"><div>{{o.item_qty|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.unit_price|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{o.thanh_tien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div> {{o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="65"><div><br />
             </div></td>
             <td align="right"valign="top" width="76"><div>{{o.thanh_tien|substract:o.quy_bhyt|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           {% endfor %}
           <tr>
             <td height="20" colspan="4" valign="top"><strong><div align="left">Cộng 11</div></strong></td>
             <td align="right" valign="top" width="60"><strong><div>{{tongphichikhac|floatformat|intcomma}}<br />
             </div></strong></td>
             <td align="right" valign="top" width="60"><div><strong>{{tongquyphichikhac|floatformat|intcomma}}<br />
             </div></strong></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><strong><div>{{tongtraphichikhac|floatformat|intcomma}}<br />
             </div></strong></td>
             
           </tr>
           {% endif %}
            <tr>
             <td height="20" colspan="4" valign="top"><div align="right">Tổng cộng</div></td>
             <td align="right" valign="top" width="60"><div>{{tongtien|floatformat|intcomma}}<br />
             </div></td>
             <td align="right" valign="top" width="60"><div>{{tongquybhyt|floatformat|intcomma}}<br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td align="right" valign="top" width="76"><div>{{tongchitra|floatformat|intcomma}}<br />
             </div></td>
           </tr>
           <tr>
             <td height="20" colspan="8" valign="top"><div><strong>THANH TOÁN</strong></div></td>
           </tr>
           <tr> 
             <td height="20" colspan="4" valign="top"><div> - Kinh phí sự nghiệp:</div></td>
             <td align="right" valign="top" width="60"><div><strong>{{tongtien|floatformat|intcomma}}</strong><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr>
           <tr> 
             <td height="20" colspan="4" valign="top"><div> - BHYT:</div></td>
             <td align="right" valign="top" width="60"><div></div><strong>{{tongquybhyt|floatformat|intcomma}}</strong><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr>
           <tr> 
             <td height="20" colspan="4" valign="top"><div> - Người bệnh đồng chi trả:</div></td>
             <td align="right" valign="top" width="60"><div>{{tongbntra_coBHYT|floatformat|intcomma}}<br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr>
           <tr> 
             <td height="20" colspan="4" valign="top"><div> - Người bệnh trả dịch vụ</div></td>
             <td align="right" valign="top" width="60"><div>{{tongbntra_khongBHYT|floatformat|intcomma}}<br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr>
           <tr> 
             <td height="20" colspan="4" valign="top"><div> - Người bệnh trả:</div></td>
             <td align="right" valign="top" width="60"><div><strong>{{tongchitra|floatformat|intcomma}}</strong><br />
             </div></td>
             <td valign="top" width="60"><div><br />
             </div></td>
             <td valign="top" width="65"><div><br />
             </div></td>
             <td valign="top" width="76"><div><br />
             </div></td>
           </tr>
       </tbody>
       </table>
      <table border="0" cellpadding="0" cellspacing="0" style="margin-top: 10px">
        <tr> 
          <td width="250" height="20" colspan="3" valign="top"><div><strong>  Số tiền bằng chữ: </strong></div></td></tr>
        
        <tr> 
          <td width="400" height="20" colspan="5" valign="top" style="padding-left:20px;"><div> - Tổng chi phí đợt điều trị : </div></td>
         <td height="20" colspan="4" valign="top"><div>{{chu_tongtien}} </div></td>
        </tr>
        <tr> 
          <td  height="20" colspan="5" valign="top" style="padding-left:20px;"><div> - Số tiền quỹ BHYT thanh toán:  </div></td>
          <td height="20" colspan="4" valign="top"><div>{{chu_tongquybhyt}}</div></td>
        </tr>
       
        <tr> 
          <td  height="20" colspan="5" valign="top" style="padding-left:20px;"><div> - Số tiền người bệnh trả : </div></td>
           <td height="20" colspan="4" valign="top"><div>{{chu_tongchitra}} </div></td>
        </tr>
        <tr> 
          <td width="250" height="20" colspan="5" valign="top" style="padding-left:20px;"><div> - Nguồn khác: </div></td>
           <td height="20" colspan="4" valign="top"><div>................................................................................................... </div></td>
        </tr>
        <tr> 
          <td width="250" height="20" colspan="5" valign="top" style="padding-left:20px;"><div>  </div></td>
           <td align="right" height="20" colspan="4" valign="top"><div>Ngày {{cuochen.bat_dau|date:'d'}} tháng {{cuochen.bat_dau|date:'m'}} năm {{cuochen.bat_dau|date:'Y'}}</div></td>
        </tr>
        </table>
        <table width="800">
         <tr height="150"> 
          <td width="200" height="20" colspan="4" valign="top" style="padding-left:20px;"><div> NGƯỜI LẬP BẢNG KÊ<br/> (Ký, ghi rõ họ tên) </div></td>
         <td width="180" height="20" colspan="2" valign="top" style="padding-left:20px;"><div> KẾ TOÁN VIỆN PHÍ<br/> (Ký, ghi rõ họ tên) </div></td>
         <td width="390" height="20" colspan="2" valign="top" style="padding-left:20px;"><div> ĐẠI DIỆN CƠ SỞ KHÁM CHỮA BỆNH<br/> (Ký, ghi rõ họ tên)
         </div></td>
       
        </tr>
         <tr> 
          <td width="400" height="20" colspan="5" valign="top" style="padding-left:20px;"><div> XÁC NHẬN CỦA NGƯỜI BỆNH<br/> (Ký, ghi rõ họ tên) </div></td>
         <td height="20" colspan="2" valign="top" style="padding-left:20px;"><div align="center"> Ngày ... tháng ... năm ...<br/> GIÁM ĐỊNH CỦA BHYT<br/> (Ký, ghi rõ họ tên)</div></td>
       
        </tr>
        
      </table>
</table>

  
</body>
</html>
