{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hóa Đơn</title>
<style type="text/css">


</style>
</head>

<body>
{% for hd in hd_data %}
  {% for bn in bn_data %}
<!-- {{bn_data}} -->
<table width="800" border="0" cellpadding="0" style="margin:auto">
  <tr>
    <td ><img src="{{ STATIC_URL }}images/AnPhuLogo.png" width="195" height="80" /></td>
<td colspan="3"><div align="left"><span class="style4"><span class="style3">PHÒNG KHÁM ĐA KHOA QUỐC TẾ AN PHÚ</span><br />
										251A- Lương Định Của - An Phú - Quận 2<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEL: (08)62872136</span>    </div></td>
  </tr>
  <tr>
    <td colspan="4"><div align="center" class="style1"><strong>BIÊN LAI THU TIỀN</strong></div></td>
  </tr>
  <tr>
    <td width="17%" ><strong>Tên BN:</strong></td>
    <td width="30%" > {{bn.ho_ten}}</td>
    <td width="12%" ><strong>Mã BN:</strong></td>
    <td width="26%">{{bn.ma_bn}}</td>
  </tr>
  <tr>
    <td ><strong>Ngày Sinh:</strong></td>
    <td>{{bn.ngay_sinh|date:'d/m/Y'}}</td>
    <td><strong>Điện Thoại:</strong></td>
    <td>{{bn.sdt}}</td> 
  </tr>
  <tr>
    <td ><strong>Địa Chỉ:</strong></td>
    <td>{{bn.dia_chi}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td ><strong>Số Hóa Đơn:</strong></td>
    <td>{{hd.ma_hd}}</td>
    <td><strong>Ngày Thu:</strong></td>
    <td> {% now "d/m/Y" %}</td>
  </tr>
  <tr>
    <td ><strong>Tổng Tiền:</strong></td>
    <td>{{tongtien|floatformat|intcomma}} VND</td>
    <td><strong>Thu Ngân:</strong></td>
    <td>{{nguoighi}}</td>
  </tr>
  <tr>
    <td ><strong>Còn Lại:</strong></td>
    <td> {{conlai|floatformat|intcomma}} VND

    </td>
    <td ><strong>Giảm giá</strong></td>
    <td>{{tonggiam|floatformat|intcomma }} VND</td>
  </tr>
  <tr>
    <td ><strong>Bác Sỹ:</strong></td>
    <td>{{bacsy}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </table>

  
  <table width="808px"  border="1px solid black" cellspacing="0" cellpadding="0" style="; margin:auto " >
  
  {% for dp in dongphi_data %}
    
    {% if forloop.first %}
    <tr>
      <td width="10">
            <strong>Dịch vụ:</strong>
      </td>
    {% endif %}
    {% if not forloop.counter|divisibleby:"2" %}

     <tr>
    {% endif %}       
      <td width="30%">
            * {{dp.item_description}}
      </td>
      <td width="15%">
         {{dp.thanh_tien|floatformat|intcomma}} VND
      </td>

    
    {% if forloop.counter|divisibleby:"2" %}
     </tr>
    {% endif %} 

   {% endfor %}
</table>

  {% endfor %}
{% endfor %}
</body>
</html>
