{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hóa Đơn</title>
<style type="text/css">
<!--
.style1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
td {
   margin: 9px 0;
}
.style3 {
	font-size: 16;
	font-weight: bold;
}
.style4 {font-family: Verdana, Arial, Helvetica, sans-serif}
-->
</style>
</head>

<body>
{% for hd in hd_data %}
  {% for bn in bn_data %}
<!-- {{bn_data}} -->
<table width="810" border="0" cellpadding="0" style="margin:auto">
  <tr>
    <td ><img src="{{ STATIC_URL }}images/AnPhuLogo.png" width="195" height="80" /></td>
<td colspan="3"><div align="left"><span class="style4"><span class="style3">PHÒNG KHÁM ĐA KHOA QUỐC TẾ AN PHÚ</span><br />
										251A- Lương Định Của - An Phú - Quận 2<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEL: (08)62872136</span>    </div></td>
  </tr>
  <tr>
    <td colspan="4"><div align="center" class="style1"> BIÊN LAI THU TIỀN</div></td>
  </tr>
  <tr>
    <td colspan="4"><div align="center" ><strong> {{hd.ma_hd}} - {% now "d/m/Y" %}</strong> </div></td>
  </tr>
  <tr>
    <td width="25%" height="35">Tên BN:</td>
    <td width="37%" > {{bn.ho_ten}}</td>
    <td width="12%" >Mã BN:</td>
    <td width="26%">{{bn.ma_bn}}</td>
  </tr>
  <tr>
    <td height="35">Ngày Sinh:</td>
    <td>{{bn.ngay_sinh|date:'d/m/Y'}}</td>
    <td>Điện Thoại:</td>
    <td>{{bn.sdt}}</td>
  </tr>
  <tr>
    <td height="35">Địa Chỉ:</td>
    <td>{{bn.dia_chi}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="35">Tổng Tiền:</td>
    <td><strong>{{tongtien|floatformat|intcomma}} VND</strong></td>
    <td colspan="2"></td>
  </tr>

  <!-- table chi tiet thuoc -->
  <tr>
  
    <table width="808px"  border="1px solid black" cellspacing="0" cellpadding="0" style="; margin:auto " >
      <tr>
        <td><strong>STT</strong></td>
        <td><strong>Nội dung thu:</strong></td>
        <td><strong>SL</strong></td>
        <td><strong>Đvị</strong></td>
        <td><strong>Đơn giá</strong> </td>
        <td><strong>Thành tiền</strong></td>
        
      </tr>
      {% for hd in hd_data %}
      <tr>
        <td height="35">{{ forloop.counter }}</td>
        <td >
              {{hd.tieu_de}}
        </td>
        <td>  </td>
        <td> </td>
        <td>  </td>
        <td> {{hd.tong_so|floatformat|intcomma}} VND </td>
      </tr>
   
    <tr>
      <td height="36" colspan="4"> </td>
      
      <td> Tổng: </td>
      <td><strong> {{hd.tong_so|floatformat|intcomma}}VND </strong></td>
    </tr>
     {% endfor %}
    </table>

  </tr>
  <!-- end table chi tiet thuoc -->
  <table  width="790px" style="margin:auto ; border-top="1px solid black"" >
    <tr>
    
    <td>Ngày in hóa đơn : {% now "d/m/Y h:m" %} </td>
    <td colspan="3"> </td>
    
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>Thu ngân</td>
  </tr>
  <tr>
    <td colspan="3" ></td>
    <td> {{nguoighi}} </td>
  </tr> 
  </table>
  
 

  
</table>

  {% endfor %}
{% endfor %}
</body>
</html>
