<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xuất Thuốc</title>
<style type="text/css">
.style1 {
	font-size: 20px;
	font-weight: bold;
}
.h {
  height: 20px; 
}
body,td,th {
	font-size: 15px;
}

</style>
</head>

<body>

{% for bn in bn_data %}
<table width="700" border="0" style="margin:auto; border-collapse:collapse">
  <tr>
    <td colspan="2">
      <div style="float:left; width:40%" align="right">
        <div style="float:left;"><img src="{{ STATIC_URL }}images/AnPhuLogo.png" width="195" height="80" /></div>
      <div align="left" style="margin-top:25px">ID:{{toathuoc_id}} </div>
      </div>
      <div style="float:left; width:60%" align="left"><strong>PHÒNG KHÁM ĐA KHOA QUỐC TẾ AN PHÚ</strong><br />
        251A- Lương Định Của - An Phú - Quận 2<br />
        ĐT-Fax: 08 6.2872.123 - www.dakhoaanphu.com<br />
    	
      </div>    </td>
  </tr>
  </table>
  <table width="700" style="margin:auto">  
  <tr>
    <td align="center" colspan="2"><span class="style1">ĐƠN THUỐC</span> <br /></td>
  </tr>
  <tr>
    <td>- Họ và tên:{{bn.ho_ten}} &nbsp;&nbsp;&nbsp; Giới tính: {{bn.get_gioi_tinh_display}}</td>
  
    <td>- Năm sinh: {{bn.ngay_sinh|date:'d/m/Y'}} </td>
  </tr>
  <tr>
    <td> - Số Thẻ BHYT : {{bn.bhyt}} <br />
    </td>
    <td>- ĐT:  {{bn.sdt}}<br />
  </td>
  </tr>
  <tr>
    <td colspan="2"> - Địa chỉ: {{bn.dia_chi}} <br />
    </td>
    
  </tr>
  <tr>
    <td colspan="2">- Chuẩn đoán: <span style="width:90%; margin:auto"> <strong>{{dt_benhly}}</strong> </span><br />
<br />

</td>
  </tr>
  </table>
  <!--LOOP DONG TOA  -->
  
  <!-- END LOOP -->
  <table style="width:670px; margin:auto">
  {% for xt in xt_data %}
  <tr>
    <td colspan="2" width="450px">
    <strong>{{ forloop.counter }} {{xt.ten_thuoc}}  {{xt.get_don_vi_display}} - {{xt.get_duong_dung_display}}</strong>
    </td>
    <td colspan="2">
      Số lượng  : <strong>{{xt.so_luong|floatformat}} {{xt.get_don_vi_display}}</strong>
    </td>
    </tr>  
      <div style="width:70%, margin:auto">
      <tr>
      <td colspan="4">
        <div  style="float:left; width:150px">Sáng : {{xt.sang|floatformat}} </div>
        <div style="float:left; width:150px">Trưa : {{xt.trua|floatformat}}</div>
        <div  style="float:left; width:150px">Chiều :{{xt.chieu|floatformat}}</div>
        <div  style="float:left; width:150px">Tối : {{xt.toi|floatformat}} </div>
        </td>
      </tr>
      <tr> <td colspan="4">* Ghi chú : <strong>{{xt.ghi_chu}}</strong></td> </tr>
      </div>
  {% endfor %}
  </table>
  <table style="width:670px; margin:auto; margin-top:80px">
   <tr>
    <td colspan="2" style="height:100px"> 
    <div align="left">
    <strong>Lời dặn: </strong>
    {{toa_thuoc.ghi_chu}}
    </div>
    <!--      -->
      </td>
  </tr>
  <tr>
  <td width="400px" > </td>
  <td ><div align="center" style="float:left;height: 150px;" > Ngày {% now "d" %} tháng {% now "m" %} năm {% now "Y" %}<br />
            Bác sỹ điều trị <br />
              {{dt_bacsy}}

    </div> </td>

  </tr>
  <tr>
    <td colspan="2">Tái khám vui lòng mang theo đơn này</td>
  </tr>
 
</table>
{% endfor %}
</body>
</html>
