{% extends 'onsite/simple.html' %}
{% load i18n %}
{% block content %}
<p>Your account has been logged out.</p>
<p><a data-role="button" href="{% url 'login' %}" rel="external">Log in again</a></p>
{% endblock %}

{% block jqmheader %}
    <div data-role="header">
        <h1 class="display-title">
            {% block pagetitle %}
                {% block title %}{% trans 'ĐA KHOA AN PHÚ' %}{% endblock %}
            {% endblock %}
        </h1>
    </div>
{% endblock jqmheader %}
