{% extends 'jqm/base.html' %}
{% load i18n %}
{% load bv_extras %}

{% block jqmheader %}
    <div data-role="header" id="header-bar" data-position="fixed">
        <h1 class="display-title" style="margin-top: 5px; margin-bottom: 5px;" >
                {% block pagetitle %}
                    {% block title %}{{this_station|to_station_label}} Đa Khoa An Phú {% endblock %}
                {% endblock %}
                {% block subtitle %}
                {% endblock %}
        </h1>
        <a href="{% url 'bv_trang_chu' %}" class="ui-btn-left" data-icon="home">Home</a>
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" rel="external" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">Logout</span></a>
        {% endif %}
        {% include "jqm/messages.html" %}
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}
        {% endblock content %}
    </div>
{% endblock jqmcontent %}

{% block jqmfooter %}
    <div data-role="footer" data-position="fixed">
{% block navmenu %}
{% endblock %}
    </div>
{% endblock jqmfooter %}
